
/*
 *        html generic css
 *
 *    This stylesheet match generic html tags
 *    and provide some useful classes
 *
 *    goal   : generic styling of html tested in different situations
 *    usage  : default import, xml editors
 *    syntax : separate specific (colors, sizes, decorations ...) for fast edit
 *
 *    frederic.glorieux@ajlsm.com
 */

/*
 *    common classes possible to define
 *    .content, .header, .footer, .focus, .toc, .abstract, .code, 
 *    .ackno, .bibliography, .glossary, .colophon, .nav, .small
 *    .info, .footnote
 */


/*
 *     COLORS
 *
 *   Usuallly, color is the first property to define a graphic identity
 *
 */
 
 
        body,
        .text, div.head p
    { color : #332000; background-color : #FFFEFA } /* a dark on light */
         h1 em
    { color : #332000; }

     /* yellow / blue */

        .caption, .caption td, .caption small
    { background-color:#F0D080; color:#3F407E;  } 
        .caption a:hover
    { color: #3F577E; background:#FCFAe0 } 
        h3 a, h3 a:visited
    { color:#3F407E; }

         a
    { color:#0000CC;}
        a:visited
    { color:#800080; }
        code, dt
        , em.first
    { color:#3F577E; } /* a dark blue */
    
    /* InfoBackground #FCFAE0  */
        div.xml
    { background-color:#F5F5F0;}


    /* black */
        
        cite, small
    { color:#000000; } 

    /* ButtonFace #DCDAD0  #F0EDE0*/

        kbd,  menu
        , .button, .form, div.head, .bar, .bar table, .menu, .nav
        , p.first:first-letter
    { background-color:#D0DAE0; color:#000000; }

        a:hover, .text a:hover
    { color: red; }



        
    /* GreyText #C0B899 */        
        
        h1, h1 a
    { color:#C0B899; }
        h2, h2 a
    { background-color:#C0B899; color:White}

    /* highlight  light on dark #4682B4 */
        caption, h2 a:hover, h3 a:hover
        , .highlight, .highlight td, .highlight small, .highlight a
        , menu a:hover, .menu a:hover, .nav a:hover
    { background-color:#6082A0; color:#FFFFCC; } 

        span.sdx_hilite
    { text-decoration:underline; } 


/*
 *  TYPOGRAPHY
 *
 *  important property to define graphic identity
 *  font-family for all elements + some bold  and italic
 *  
 */
        html, body, samp
        , pre.text
    { font-family: Georgia, "Gill Alternate One Monotype", "Gill Sans", "Trebuchet MS", Universal, Arial, sans-serif; font-weight:normal;}

        menu, small, label, legend, button,  select, input,  
        .alert, .bar a, .legend, .key, .form, .branch, .bar, .menu,
        .highlight, .highlight div, .highlight td,
        em.first
        , .caption, .caption td, .caption small, .caption a
    { font-family: Universal, Arial, sans-serif;  }

        h1, big
    { font-family: Impact, sans-serif;  }

        h3, h2
    { font-family: Verdana, sans-serif;  }

        q, blockquote, h1 em, em
    { font-family: Garamond, Melior, Georgia, Times,  serif; }

        notag
    { font-family: Script, cursive; }

        notag
    { font-family: "Comic Sans MS", fantasy; }

        code, kbd, pre
    { font-family: "Lucida Console", monospace; }

        tt, .tt
    { font-family: Courier, "MS Courier New", monospace; }



/*
 *  SIZES
 *  
 *   All sizes are relative to the body element.
 *   By inheritance, defining an absolute size for default should 
 *   affect all other proportions.
 *
 */
    /*
    body
    { font-size:normal; }
    */
        h1 
    { font-size:200%; }
        h1 em
    { font-size:80% }
        h2
    { font-size: 110%; }
        h3
    { font-size:90%; }
        h6
    { font-size:100%; }
        code, kbd
    { font-size: 90%; }
        small 
    { font-size:70%; }
        input 
    { font-size:90%; }
        pre.text
    { font-size:100%; }
		.caption a
    { font-size:80%; }


/*
 *  MARGINS, PADDINGS, ALIGNMENTS
 *  
 *   This section is opened to adjust alignments
 *
 */
        body 
    { margin-left:7%; margin-right:4%; margin-top:3%; margin-bottom:2%;  }
/*
        .top
    { position:absolute; top:0px; left:0px; width:100%; }
*/
        p, ul, ol, dl, center 
    { margin-top: 1ex; margin-bottom: 0.5ex; }
        li
    { margin-top:0.5ex; text-align: justify; }
        p, .text p 
    { text-align: justify; text-indent:2em;   }

    /* titles */

        table.text
    {  padding:0.5ex 2em; border:inset 2px; margin-bottom:1ex; }
        h1
    { padding-top:1ex; margin-bottom:0.5ex; }
        h2
    { margin-top:1em; margin-bottom:0; }
        h3
    { margin-top:1em; margin-bottom:0; }
        h6
    { margin-top:1em; margin-bottom:0.5ex; }
    	td h1, td h2, td h3, td h4, td h5, td h6
    { margin-top:0; margin-bottom:0; }

        .paddings 
    {  padding-top: 0.5ex; padding-bottom: 1em; padding-left: 2em; padding-right: 1em; 
    border-bottom-style: ridge; border-left-style: ridge; border-right-style: ridge; 
    border-width: 2; 
    }
    
        div.section div.section
    {padding-left: 2em}
    
        pre
    { white-space:pre; font-size:80%; }



/*
 *  INLINES (semantic)
 */
        big 
    { font-weight: 900; text-align:center; }
        b, strong,
        em.first 
    { font-weight: bold; }
        i, em 
    { font-style: italic;}
        u
    { text-decoration:underline; }
        abbr 
    {}
        acronym 
    { font-weight: bold; }
    
    /* textual */

        cite 
    { font-style: italic;} cite:before { content: "\""} cite:after { content: "\""}
        q
    { font-style: italic; } 
        q:before
    { content: "« "}
        q:after
    { content: " »"}
        samp 
    {  }
        dfn 
    { font-weight:bold; font-style:italic; }
        samp
    { font-style:italic; }
        var
    { font-style:normal; font-weight:bold;}
    
    /* computing */

        code 
    { font-style: normal; }
        kbd, .but
    {  font-style: normal; font-weight: bold; border-width: 2px; border-style: outset;
    padding-left: 1ex; padding-right: 1ex; text-decoration: none}
        kbd:before
    {content: "[";}
        kbd:after
    {content: "]";}
        var {}

    /* meta */

    address 
    {}
        ins 
    {}
        del 
    {}
    


/*
 *  LISTS
 */
        ol
    { list-style:decimal;  }
        ul
    { list-style-type:disc; }
        dl dl
    { margin-left: 2em; }
        dt
    { font-weight: bold; margin-top:0.5ex; margin-bottom:0.2ex;  }
        dd
    { display:block; text-align:justify; margin-left:0;  margin-top:0.5ex; margin-bottom:0.5ex; }
        dd dt 
    { display: inline}
        menu, table.menu, td.menu, div.menu
    { 
      list-style: decimal inside; width: 60%; white-space: nowrap;
      margin-top: 1em; margin-bottom: 1em;
      border: 2px outset;
      text-align:right; 
      padding-top: 1ex; padding-bottom: 1ex; padding-left: 1em; padding-right: 1em;
    }
        menu *, table.menu *, td.menu *, div.menu *
    { text-align:left; }
        menu a, .menu a
    { display:block; }
        menu a, menu a:visited, .menu a, .menu a:visited
    { text-decoration: none; padding-left:1ex; padding-right:1ex}
        menu a:active, .menu a:active
    { color: white; background:red;   }
    

        ol div.first, ul div.first, dl div.first  /* title of a list */
    {text-decoration:underline; }



/*
 *  TABLES
 */
        caption
    { padding-left:1em; padding-right:1em; }
        table.table td
    { padding-left:0.5ex; padding-right:0.5ex; }
        


/*
 *  LINKS
 */
 
        a
    { text-decoration:underline; cursor:hand; }
        .alert 
    { color: red; font-weight:bold; text-align:left; text-indent: 0; } 

        a.key
    { font-weight:normal;}
         a.key:active
    { color: red; }
    
        div.caption a
    { width:100%; }
        .caption a
    { text-decoration:none; }
    
        .nav
    { border:2px outset; padding-left:1ex; padding-right:1ex; }
        .nav a
    { text-decoration:none; }

    
/*
 *  TITLES
 */


        h1
    { font-weight: 900; text-align:right; }
        h1 em
    { font-weight:normal; display:block; }
        h2
    { font-weight: 900; text-indent:2em; border-bottom: 1px solid; }
        h3 a
    { text-decoration:none }
        h3
    { font-weight: 900; text-indent:2em; border-bottom:solid 1px; }
        h6, .title
    { border-bottom:groove 2px ; font-weight:900; }

        div.head
    { padding-right:2em;padding-left:2em;  padding-top:0; padding-bottom:1ex; }
        div.head p
    { padding:0.5ex 1ex;  }
        div.head menu
    { text-align:right; }
        .highlight strong
    { display: block;  text-align: left;
     border-bottom: 1pt solid; text-decoration: underline; }
        .highlight em
    {text-align: right; display: block; }
        .highlight h1
    { text-align: right; }
        .highlight
    { font-weight:900; }
        .highlight label
    { font-weight:normal; }
    




/*
 *  TEXT
 */
        body p.first
    { text-indent: 0; }
        body p.first:first-letter 
    { 
      float: left; font-size: 400%;
      font-style: italic; font-weight: 900; 
      margin-right: 0.2ex; padding:0.1ex;   
      /* line-height: 80%; padding-top: -0.5ex; padding-bottom: -0.5ex; */
    }

   

/*
 *  CONTROLS
 */
        table.bar
    { border-bottom: 2 outset; border-top: 2 outset; }
        form
    { margin:0}
        .form 
    { border:outset 2; padding: 5}
    
        textarea 
    { wdth:100%; height:5em}
        .legend 
    {
      border-bottom: groove 2; padding-left:1em; padding-right:1em; padding-top: 0.4ex; 
      padding-bottom: 0.2ex; 
      margin-bottom:1ex; 
    }
        legend, .legend 
    { font-weight:900; font-family: sans-serif;}
        select 
    { background: White; color: Black;}
        .info 
    { background:LightYellow; color:Black;}
        .help 
    { cursor: help;}
        button, .button, .key
    { cursor:pointer}
        input.key
    { font-weight:900; width:3ex;}
        .focus 
    {border-color:red; background:#FFFFCC; color:black}
        div.help , tr.help, td.help, table.help
    {
    color:red;
    width: 80ex; border: 2 ridge; background-color: InfoBackground; 
    padding: 1ex; font-size: smaller; white-space: normal; font-weight: normal; text-align: justify;
    white-space: normal; margin-top:1ex; margin-bottom:1ex
    }
    label {white-space:nowrap}
    /*
        label
    {vertical-align:top; }
    */


    @media all {
    }

/********* end sheet ************/
