/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-skin-pleade .yui-ac{
	
	position:relative;
	font-family:arial;
	font-size:100%;
}



.yui-skin-pleade .yui-ac-input{
	/*position:absolute;
	width:100%; Modification pour Pleade	*/
}

.yui-skin-pleade .yui-ac-container{
	position:absolute;
	top:1.6em;
	width:100%;
}

.yui-skin-pleade .yui-ac-content{
	position:absolute;
	width:100%;
	border:1px solid #808080;
	background:#fff;
	overflow:hidden;
	z-index:9050;
}

.yui-skin-pleade .yui-ac-shadow{
	position:absolute;
	margin:.3em;
	width:100%;
	background:#000;
	/*-moz-opacity:.10;*/
	opacity:.10;
	/* filter:alpha(opacity=10); IE6styles.css */
	z-index:9049;
}

.yui-skin-pleade .yui-ac iframe{
	/*opacity:0;
	filter:alpha(opacity=0); IE6styles.css */
	padding-right:.3em;
	padding-bottom:.3em;
}

.yui-skin-pleade .yui-ac-content ul{
	margin:0;
	padding:0;
	width:100%;
}

.yui-skin-pleade .yui-ac-content li{
	margin:0;
	padding:2px 5px;
	cursor:default;
	white-space:nowrap;
	list-style:none;
	/*zoom:1;	IE6styles.css */
}

.yui-skin-pleade .yui-ac-content li.yui-ac-prehighlight{
	background:#B3D4FF;
}

.yui-skin-pleade .yui-ac-content li.yui-ac-highlight{
	background:#426FD9;
	color:#FFF;
}


