/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-button{
	/* display:-moz-inline-box; */
	display:inline-block;
	vertical-align:text-bottom;
}

.yui-button .first-child{
	display:block;	
	/* *display:inline-block; */
}

.yui-button button,.yui-button a{
	display:block;
	/* *display:inline-block; */
	border:none;
	margin:0;
}

.yui-button button{
	background-color:transparent;
	/* *overflow:visible; */
	cursor:pointer;
}

.yui-button a{
	text-decoration:none;
}

.yui-skin-pleade .yui-button{
	border-width:1px 0;
	border-style:solid;
	border-color:#808080;
	background:url(sprite.png) repeat-x 0 0;
	margin:auto .25em;
}

.yui-skin-pleade .yui-button .first-child{
	border-width:0 1px;
	border-style:solid;
	border-color:#808080;
	margin:0 -1px;
	/* _margin:0; */
}

.yui-skin-pleade .yui-button button,
.yui-skin-pleade .yui-button a,
.yui-skin-pleade .yui-button a:visited{
	padding:0 10px;
	font-size:93%;
	line-height:2;
	/* *line-height:1.7; */
	min-height:2em;
	/* *min-height:auto; */
	color:#000;
}

.yui-skin-pleade .yui-button a{
	/* *line-height:1.875;
	*padding-bottom:1px; */
}

.yui-skin-pleade .yui-split-button button,.yui-skin-pleade .yui-menu-button button{
	padding-right:20px;
	background-position:right center;
	background-repeat:no-repeat;
}

.yui-skin-pleade .yui-menu-button button{
	background-image:url(menu-button-arrow.png);
}

.yui-skin-pleade .yui-split-button button{
	background-image:url(split-button-arrow.png);
}

.yui-skin-pleade .yui-button-focus{
	border-color:#7D98B8;
	background-position:0 -1300px;
}

.yui-skin-pleade .yui-button-focus .first-child{
	border-color:#7D98B8;
}

.yui-skin-pleade .yui-split-button-focus button{
	background-image:url(split-button-arrow-focus.png);
}

.yui-skin-pleade .yui-button-hover{
	border-color:#7D98B8;
	background-position:0 -1300px;
}

.yui-skin-pleade .yui-button-hover .first-child{
	border-color:#7D98B8;
}

.yui-skin-pleade .yui-split-button-hover button{
	background-image:url(split-button-arrow-hover.png);
}

.yui-skin-pleade .yui-button-active{
	border-color:#7D98B8;
	background-position:0 -1700px;
}

.yui-skin-pleade .yui-button-active .first-child{
	border-color:#7D98B8;
}

.yui-skin-pleade .yui-split-button-activeoption{
	border-color:#808080;
	background-position:0 0;
}

.yui-skin-pleade .yui-split-button-activeoption .first-child{
	border-color:#808080;
}

.yui-skin-pleade .yui-split-button-activeoption button{
	background-image:url(split-button-arrow-active.png);
}

.yui-skin-pleade .yui-radio-button-checked,
.yui-skin-pleade .yui-checkbox-button-checked{
	border-color:#304369;
	background-position:0 -1400px;
}

.yui-skin-pleade .yui-radio-button-checked .first-child,
.yui-skin-pleade .yui-checkbox-button-checked .first-child{
	border-color:#304369;
}

.yui-skin-pleade .yui-radio-button-checked button,
.yui-skin-pleade .yui-checkbox-button-checked button{
	color:#fff;
}

.yui-skin-pleade .yui-button-disabled{
	border-color:#ccc;
	background-position:0 -1500px;
}

.yui-skin-pleade .yui-button-disabled .first-child{
	border-color:#ccc;
}

.yui-skin-pleade .yui-button-disabled button,
.yui-skin-pleade .yui-button-disabled a,
.yui-skin-pleade .yui-button-disabled a:visited{
	color:#A6A6A6;
	cursor:default;
}

.yui-skin-pleade .yui-menu-button-disabled button{
	background-image:url(menu-button-arrow-disabled.png);
}

.yui-skin-pleade .yui-split-button-disabled button{
	background-image:url(split-button-arrow-disabled.png);
}


