/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-overlay,
.yui-panel-container {
	visibility:hidden;
	position:absolute;
	z-index:2;
}

.yui-panel{
	position:relative;
}

.yui-panel-container form{
	margin:0;
}

.mask{
	z-index:1;
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.mask.block-scrollbars{
	overflow:auto;
}

.masked select,.drag select,.hide-select select{
	/* _visibility:hidden; */
}

.yui-panel-container select{
	/* _visibility:inherit; */
}

.hide-scrollbars,.hide-scrollbars *{
	overflow:hidden;
}

.hide-scrollbars select{
	display:none;
}

.show-scrollbars{
	overflow:auto;
}

.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{
	overflow:visible;
}

.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{
	overflow:auto;
}

.yui-panel-container.shadow .underlay.yui-force-redraw{
	padding-bottom:1px;
}

.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{
	display:none;
}

.yui-tt-shadow{
	position:absolute;
}

.yui-override-padding{
	padding:0!important;
}

.yui-panel-container .container-close{
	overflow:hidden;
	text-indent:-10000em;
	text-decoration:none;
}

.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{
	margin-bottom:1px;
}

.yui-skin-pleade .mask{
	background-color:#000;
	opacity:.25;
	/* filter:alpha(opacity=25); */
}

.yui-skin-pleade .yui-panel-container{
	padding:0 1px;
	/* *padding:2px; */
}

.yui-skin-pleade .yui-panel{
	position:relative;
	left:0;
	top:0;
	border-style:solid;
	border-width:1px;
	border-color:#808080;
	z-index:1;
	/* *border-width:1px;
	*zoom:1;
	_zoom:normal; */
}

.yui-skin-pleade .yui-panel .hd,
.yui-skin-pleade .yui-panel .bd,
.yui-skin-pleade .yui-panel .ft{
	border-style:solid;
	border-width: 1px;
	border-color:#808080;
	margin:0 -1px;
	/* *margin:0;
	*border:0; */
}

.yui-skin-pleade .yui-panel .hd{
	border-bottom:solid 1px #ccc;
}

.yui-skin-pleade .yui-panel .bd,.yui-skin-pleade .yui-panel .ft{
	background-color:#F2F2F2;
}

.yui-skin-pleade .yui-panel .hd{
	padding:0 10px;
	font-size:93%;
	line-height:2;
	/* *line-height:1.9; */
	font-weight:bold;
	color:#000;
	background:url(sprite.png) repeat-x 0 -200px;
}

.yui-skin-pleade .yui-panel .bd{
	padding:10px;
}

.yui-skin-pleade .yui-panel .ft{
	border-top:solid 1px #808080;
	padding:5px 10px;
	font-size:77%;
}

.yui-skin-pleade .container-close{
	position:absolute;
	top:5px;
	right:6px;
	width:17px;
	height:15px;
	background:url(sprite.png) no-repeat 0 -300px;
	cursor:pointer;
}

.yui-skin-pleade .yui-panel-container .underlay{
	right:-1px;
	left:-1px;
}

.yui-skin-pleade .yui-panel-container.matte{
	padding:9px 10px;
	background-color:#fff;
}

.yui-skin-pleade .yui-panel-container.shadow{
	/* _padding:2px 4px 0 2px;	 */
}

.yui-skin-pleade .yui-panel-container.shadow .underlay{
	position:absolute;
	top:2px;
	left:-3px;
	right:-3px;
	bottom:-3px;
	/* *top:4px;
	*left:-1px;
	*right:-1px;
	*bottom:-1px;
	_top:0;
	_left:0;
	_right:0;
	_bottom:0;
	_margin-top:3px;
	_margin-left:-1px; */
	background-color:#000;
	opacity:.12;
	/* filter:alpha(opacity=12); */
}

.yui-skin-pleade .yui-dialog .ft{
	border-top:none;
	padding:0 10px 10px 10px;
	font-size:100%;
}

.yui-skin-pleade .yui-dialog .ft .button-group{
	display:block;
	text-align:right;
}

.yui-skin-pleade .yui-dialog .ft button.default{
	font-weight:bold;
}

.yui-skin-pleade .yui-dialog .ft span.default{
	border-color:#304369;
	background-position:0 -1400px;
}

.yui-skin-pleade .yui-dialog .ft span.default .first-child{
	border-color:#304369;
}

.yui-skin-pleade .yui-dialog .ft span.default button{
	color:#fff;
}

.yui-skin-pleade .yui-dialog .ft span.yui-button-disabled{
	background-position:0 -1500px;
	border-color:#ccc;
}

.yui-skin-pleade .yui-dialog .ft span.yui-button-disabled .first-child{
	border-color:#ccc;
}

.yui-skin-pleade .yui-dialog .ft span.yui-button-disabled button{
	color:#a6a6a6;
}

.yui-skin-pleade .yui-simple-dialog .bd .yui-icon{
	background:url(sprite.png) no-repeat 0 0;
	width:16px;
	height:16px;
	margin-right:10px;
	float:left;
}

.yui-skin-pleade .yui-simple-dialog .bd span.blckicon{
	background-position:0 -1100px;
}

.yui-skin-pleade .yui-simple-dialog .bd span.alrticon{
	background-position:0 -1050px;
}

.yui-skin-pleade .yui-simple-dialog .bd span.hlpicon{
	background-position:0 -1150px;
}

.yui-skin-pleade .yui-simple-dialog .bd span.infoicon{
	background-position:0 -1200px;
}

.yui-skin-pleade .yui-simple-dialog .bd span.warnicon{
	background-position:0 -1900px;
}

.yui-skin-pleade .yui-simple-dialog .bd span.tipicon{
	background-position:0 -1250px;
}

.yui-skin-pleade .yui-tt .bd{
	position:relative;
	top:0;
	left:0;
	z-index:1;
	color:#000;
	padding:2px 5px;
	border-color:#D4C237 #A6982B #A6982B #A6982B;
	border-width:1px;
	border-style:solid;
	background-color:#FFEE69;
}

.yui-skin-pleade .yui-tt.show-scrollbars .bd{
	overflow:auto;
}

.yui-skin-pleade .yui-tt-shadow{
	top:2px;
	right:-3px;
	left:-3px;
	bottom:-3px;
	background-color:#000;
}

.yui-skin-pleade .yui-tt-shadow-visible{
	opacity:.12;
	/* filter:alpha(opacity=12); */
}


