/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-layout-loading{
	visibility:hidden;
}

body.yui-layout{
	overflow:hidden;
	position:relative;
	padding:0;
	margin:0;
}

.yui-layout-doc{
	position:relative;
	overflow:hidden;
	padding:0;
	margin:0;
}

.yui-layout-unit{
	height:50px;
	width:50px;
	padding:0;
	margin:0;
	float:none;
	z-index:0;
}

.yui-layout-unit-top{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.yui-layout-unit-left{
	position:absolute;
	top:0;
	left:0;
}

.yui-layout-unit-right{
	position:absolute;
	top:0;
	right:0;
}

.yui-layout-unit-bottom{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.yui-layout-unit-center{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.yui-layout div.yui-layout-hd{
	position:absolute;
	top:0;
	left:0;
	/* zoom:1; */
	width:100%;
}

.yui-layout div.yui-layout-bd{
	position:absolute;
	top:0;
	left:0;
	/* zoom:1; */
	width:100%;
}

.yui-layout .yui-layout-noscroll div.yui-layout-bd{
	overflow:hidden;
}

.yui-layout .yui-layout-scroll div.yui-layout-bd{
	overflow:auto;
}

.yui-layout div.yui-layout-ft{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	/* zoom:1; */
}

.yui-layout .yui-layout-unit div.yui-layout-hd h2{
	text-align:left;
}

.yui-layout .yui-layout-unit div.yui-layout-hd .collapse{
	cursor:pointer;
	height:13px;
	position:absolute;
	right:2px;
	top:2px;
	width:17px;
	font-size:0;
}

.yui-layout .yui-layout-unit div.yui-layout-hd .close{
	cursor:pointer;
	height:13px;
	position:absolute;
	right:2px;
	top:2px;
	width:17px;
	font-size:0;
}

.yui-layout .yui-layout-unit div.yui-layout-hd .collapse-close{
	right:25px;
}

.yui-layout .yui-layout-clip{
	position:absolute;
	height:20px;
	background-color:#c0c0c0;
	display:none;
}

.yui-layout .yui-layout-clip .collapse{
	cursor:pointer;
	height:13px;
	position:absolute;
	right:2px;
	top:2px;
	width:17px;
	font-size:0;
}

.yui-layout .yui-layout-wrap{
	height:100%;
	width:100%;
	position:absolute;
	left:0;
}

.yui-skin-pleade .yui-layout .yui-resize-proxy{
	border:none;
	font-size:0;
	margin:0;
	padding:0;
}

.yui-skin-pleade .yui-layout .yui-resize-resizing .yui-resize-handle{
	display:none;
	/* zoom:1; */
}

.yui-skin-pleade .yui-layout .yui-resize-proxy div{
	position:absolute;
	border:1px solid #808080;
	background-color:#EDF5FF;
}

.yui-skin-pleade .yui-layout .yui-resize .yui-resize-handle-active{
	/* zoom:1; */
}

.yui-skin-pleade .yui-layout .yui-resize-proxy .yui-layout-handle-l{
	width:5px;
	height:100%;
	top:0;
	left:0;
	/* zoom:1; */
}

.yui-skin-pleade .yui-layout .yui-resize-proxy .yui-layout-handle-r{
	width:5px;
	top:0;
	right:0;
	height:100%;
	position:absolute;
	/* zoom:1; */
}

.yui-skin-pleade .yui-layout .yui-resize-proxy .yui-layout-handle-b{
	width:100%;
	bottom:0;
	left:0;
	height:5px;
}

.yui-skin-pleade .yui-layout .yui-resize-proxy .yui-layout-handle-t{
	width:100%;
	top:0;
	left:0;
	height:5px;
}

.yui-skin-pleade .yui-layout .yui-layout-unit-left div.yui-layout-hd .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -160px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-clip-left .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -140px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-unit-right div.yui-layout-hd .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -200px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-clip-right .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -120px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-unit-top div.yui-layout-hd .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -220px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-clip-top .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -240px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-unit-bottom div.yui-layout-hd .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -260px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-clip-bottom .collapse{
	background:transparent url(layout_sprite.png) no-repeat -20px -180px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-unit div.yui-layout-hd .close{
	background:transparent url(layout_sprite.png) no-repeat -20px -100px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-hd{
	background:url(sprite.png) repeat-x 0 -1400px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout{
	background-color:#EDF5FF;
}

.yui-skin-pleade .yui-layout .yui-layout-unit div.yui-layout-hd h2{
	font-weight:bold;
	color:#fff;
	padding:3px;
	margin:0;
}

.yui-skin-pleade .yui-layout .yui-layout-unit div.yui-layout-bd{
	border:1px solid #808080;
	border-bottom:none;
	border-top:none;
	/* *border-bottom-width:0;
	*border-top-width:0; */
	background-color:#FFF;
	text-align:left;
}

.yui-skin-pleade .yui-layout .yui-layout-unit div.yui-layout-bd-noft{
	border-bottom:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-unit div.yui-layout-bd-nohd{
	border-top:1px solid #808080;
}

.yui-skin-pleade .yui-layout .yui-layout-clip{
	position:absolute;
	height:20px;
	background-color:#EDF5FF;
	display:none;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-layout div.yui-layout-ft{
	border:1px solid #808080;
	border-top:none;
	/* *border-top-width:0; */
	background-color:#f2f2f2;
}

.yui-skin-pleade .yui-layout-unit .yui-resize-handle{
	background-color:transparent;
	/* zoom:1; */
}

.yui-skin-pleade .yui-layout-unit .yui-resize-handle-r{
	right:0;
	top:0;
	background-image:none;
	/* zoom:1; */
}

.yui-skin-pleade .yui-layout-unit .yui-resize-handle-l{
	left:0;
	top:0;
	background-image:none;
	/* zoom:1; */
}

.yui-skin-pleade .yui-layout-unit .yui-resize-handle-b{
	right:0;
	bottom:0;
	background-image:none;
}

.yui-skin-pleade .yui-layout-unit .yui-resize-handle-t{
	right:0;
	top:0;
	background-image:none;
}

.yui-skin-pleade .yui-layout-unit .yui-resize-handle-r .yui-layout-resize-knob,.yui-skin-pleade .yui-layout-unit .yui-resize-handle-l .yui-layout-resize-knob{
	position:absolute;
	height:16px;
	width:6px;
	top:45%;
	left:0;
	display:block;
	background:transparent url(layout_sprite.png) no-repeat 0 -5px;
}

.yui-skin-pleade .yui-layout-unit .yui-resize-handle-t .yui-layout-resize-knob,.yui-skin-pleade .yui-layout-unit .yui-resize-handle-b .yui-layout-resize-knob{
	position:absolute;
	height:6px;
	width:16px;
	left:45%;
	background:transparent url(layout_sprite.png) no-repeat -20px 0;
	/* zoom:1; */
}


