/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-skin-pleade .yui-log{padding:1em;width:31em;background-color:#AAA;color:#000;border:1px solid black;font-family:monospace;font-size:77%;text-align:left;z-index:9000;}.yui-skin-pleade .yui-log-container{position:absolute;top:1em;right:1em;}.yui-skin-pleade .yui-log input{margin:0;padding:0;font-family:arial;font-size:100%;font-weight:normal;}.yui-skin-pleade .yui-log .yui-log-btns{position:relative;float:right;bottom:.25em;}.yui-skin-pleade .yui-log .yui-log-hd{margin-top:1em;padding:.5em;background-color:#575757;}.yui-skin-pleade .yui-log .yui-log-hd h4{margin:0;padding:0;font-size:108%;font-weight:bold;color:#FFF;}.yui-skin-pleade .yui-log .yui-log-bd{width:100%;height:20em;background-color:#FFF;border:1px solid gray;overflow:auto;}.yui-skin-pleade .yui-log p{margin:1px;padding:.1em;}.yui-skin-pleade .yui-log pre{margin:0;padding:0;}.yui-skin-pleade .yui-log pre.yui-log-verbose{white-space:pre-wrap;white-space:-moz-pre-wrap!important;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}.yui-skin-pleade .yui-log .yui-log-ft{margin-top:.5em;}.yui-skin-pleade .yui-log .yui-log-ft .yui-log-sourcefilters{width:100%;border-top:1px solid #575757;margin-top:.75em;padding-top:.75em;}.yui-skin-pleade .yui-log .yui-log-filtergrp{margin-right:.5em;}.yui-skin-pleade .yui-log .info{background-color:#A7CC25;}.yui-skin-pleade .yui-log .warn{background-color:#F58516;}.yui-skin-pleade .yui-log .error{background-color:#E32F0B;}.yui-skin-pleade .yui-log .time{background-color:#A6C9D7;}.yui-skin-pleade .yui-log .window{background-color:#F2E886;}
