/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-pb-bar,.yui-pb-mask{width:100%;height:100%;}.yui-pb{position:relative;top:0;left:0;width:200px;height:20px;padding:0;border:none;margin:0;text-align:left;}.yui-pb-mask{position:absolute;top:0;left:0;z-index:2;}.yui-pb-mask div{width:50%;height:50%;background-repeat:no-repeat;padding:0;position:absolute;}.yui-pb-tl{background-position:top left;}.yui-pb-tr{background-position:top right;left:50%;}.yui-pb-bl{background-position:bottom left;top:50%;}.yui-pb-br{background-position:bottom right;left:50%;top:50%;}.yui-pb-bar{margin:0;position:absolute;left:0;top:0;z-index:1;}.yui-pb-ltr .yui-pb-bar{_position:static;}.yui-pb-rtl .yui-pb-bar{background-position:right;}.yui-pb-btt .yui-pb-bar{background-position:left bottom;}.yui-pb-bar{background-color:blue;}.yui-pb{border:thin solid #808080;}.yui-skin-pleade .yui-pb{background-color:transparent;border:solid #808080;border-width:1px 0;}.yui-skin-pleade .yui-pb-rtl,.yui-skin-pleade .yui-pb-ltr{background-image:url(back-h.png);background-repeat:repeat-x;}.yui-skin-pleade .yui-pb-ttb,.yui-skin-pleade .yui-pb-btt{background-image:url(back-v.png);background-repeat:repeat-y;}.yui-skin-pleade .yui-pb-bar{background-color:transparent;}.yui-skin-pleade .yui-pb-ltr .yui-pb-bar,.yui-skin-pleade .yui-pb-rtl .yui-pb-bar{background-image:url(bar-h.png);background-repeat:repeat-x;}.yui-skin-pleade .yui-pb-ttb .yui-pb-bar,.yui-skin-pleade .yui-pb-btt .yui-pb-bar{background-image:url(bar-v.png);background-repeat:repeat-y;}.yui-skin-pleade .yui-pb-mask{border:solid #808080;border-width:0 1px;margin:0 -1px;}.yui-skin-pleade .yui-pb-caption{color:#000;text-align:center;margin:0 auto;}.yui-skin-pleade .yui-pb-range{color:#a6a6a6;}
