/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-resize{
	position:relative;
	/* zoom:1; */
	z-index:0;
}

.yui-resize-wrap{
	/* zoom:1;	 */
}

.yui-draggable{
	cursor:move;
}

.yui-resize .yui-resize-handle{
	position:absolute;
	z-index:1;
	font-size:0;
	margin:0;
	padding:0;
	/* zoom:1; */
	height:1px;
	width:1px;
}

.yui-resize .yui-resize-handle-br{
	height:5px;
	width:5px;
	bottom:0;
	right:0;
	cursor:se-resize;
	z-index:2;
	/* zoom:1;	 */
}

.yui-resize .yui-resize-handle-bl{
	height:5px;
	width:5px;
	bottom:0;
	left:0;
	cursor:sw-resize;
	z-index:2;
	/* zoom:1;	 */
}

.yui-resize .yui-resize-handle-tl{
	height:5px;
	width:5px;
	top:0;
	left:0;
	cursor:nw-resize;
	z-index:2;
	/* zoom:1;	 */
}

.yui-resize .yui-resize-handle-tr{
	height:5px;
	width:5px;
	top:0;
	right:0;
	cursor:ne-resize;
	z-index:2;
	/* zoom:1;	 */
}

.yui-resize .yui-resize-handle-r{
	width:5px;
	height:100%;
	top:0;
	right:0;
	cursor:e-resize;
	/* zoom:1;	 */
}

.yui-resize .yui-resize-handle-l{
	height:100%;
	width:5px;
	top:0;
	left:0;
	cursor:w-resize;
	/* zoom:1; */;
}

.yui-resize .yui-resize-handle-b{
	width:100%;
	height:5px;
	bottom:0;
	right:0;
	cursor:s-resize;
	/* zoom:1; */;
}

.yui-resize .yui-resize-handle-t{
	width:100%;
	height:5px;
	top:0;
	right:0;
	cursor:n-resize;
	/* zoom:1;	 */
}

.yui-resize-proxy{
	position:absolute;
	border:1px dashed #000;
	visibility:hidden;
	z-index:1000;
}

.yui-resize-hover .yui-resize-handle,.yui-resize-hidden .yui-resize-handle{
	opacity:0;
	/* filter:alpha(opacity=0); */;
}

.yui-resize-ghost{
	opacity:.5;
	/* filter:alpha(opacity=50); */;
}

.yui-resize-knob .yui-resize-handle{
	height:6px;
	width:6px;
}

.yui-resize-knob .yui-resize-handle-tr{
	right:-3px;
	top:-3px;
}

.yui-resize-knob .yui-resize-handle-tl{
	left:-3px;
	top:-3px;
}

.yui-resize-knob .yui-resize-handle-bl{
	left:-3px;
	bottom:-3px;
}

.yui-resize-knob .yui-resize-handle-br{
	right:-3px;
	bottom:-3px;
}

.yui-resize-knob .yui-resize-handle-t{
	left:45%;
	top:-3px;
}

.yui-resize-knob .yui-resize-handle-r{
	right:-3px;
	top:45%;
}

.yui-resize-knob .yui-resize-handle-l{
	left:-3px;
	top:45%;
}

.yui-resize-knob .yui-resize-handle-b{
	left:45%;
	bottom:-3px;
}

.yui-resize-status{
	position:absolute;
	top:-999px;
	left:-999px;
	padding:2px;
	font-size:80%;
	display:none;
	/* zoom:1; */
	z-index:9999;
}

.yui-resize-status strong,.yui-resize-status em{
	font-weight:normal;
	font-style:normal;
	padding:1px;
	/* zoom:1;	 */
}

.yui-skin-pleade .yui-resize .yui-resize-handle{
	background-color:#F2F2F2;
	/* zoom:1;	 */
}

.yui-skin-pleade .yui-resize .yui-resize-handle-active{
	background-color:#7D98B8;
	/* zoom:1;	 */
}

.yui-skin-pleade .yui-resize .yui-resize-handle-l,.yui-skin-pleade .yui-resize .yui-resize-handle-r,.yui-skin-pleade .yui-resize .yui-resize-handle-l-active,.yui-skin-pleade .yui-resize .yui-resize-handle-r-active{
	height:100%;
	/* zoom:1;	 */
}

.yui-skin-pleade .yui-resize-knob .yui-resize-handle{
	border:1px solid #808080;
}

.yui-skin-pleade .yui-resize-hover .yui-resize-handle-active{
	opacity:1;
	/* filter:alpha(opacity=100); */;
}

.yui-skin-pleade .yui-resize-proxy{
	border:1px dashed #426FD9;
}

.yui-skin-pleade .yui-resize-status{
	border:1px solid #A6982B;
	border-top:1px solid #D4C237;
	background-color:#FFEE69;
	color:#000;
}

.yui-skin-pleade .yui-resize-status strong,.yui-skin-pleade .yui-resize-status em{
	float:left;
	display:block;
	clear:both;
	padding:1px;
	text-align:center;
}

.yui-skin-pleade .yui-resize .yui-resize-handle-inner-r,.yui-skin-pleade .yui-resize .yui-resize-handle-inner-l{
	background:transparent url(layout_sprite.png) no-repeat 0 -5px;
	height:16px;
	width:5px;
	position:absolute;
	top:45%;
}

.yui-skin-pleade .yui-resize .yui-resize-handle-inner-t,.yui-skin-pleade .yui-resize .yui-resize-handle-inner-b{
	background:transparent url(layout_sprite.png) no-repeat -20px 0;
	height:5px;
	width:16px;
	position:absolute;
	left:50%;
}

.yui-skin-pleade .yui-resize .yui-resize-handle-br{
	background-image:url(layout_sprite.png);
	background-repeat:no-repeat;
	background-position:-22px -62px;
}

.yui-skin-pleade .yui-resize .yui-resize-handle-tr{
	background-image:url(layout_sprite.png);
	background-repeat:no-repeat;
	background-position:-22px -42px;
}

.yui-skin-pleade .yui-resize .yui-resize-handle-tl{
	background-image:url(layout_sprite.png);
	background-repeat:no-repeat;
	background-position:-22px -82px;
}

.yui-skin-pleade .yui-resize .yui-resize-handle-bl{
	background-image:url(layout_sprite.png);
	background-repeat:no-repeat;
	background-position:-22px -23px;
}

.yui-skin-pleade .yui-resize-knob .yui-resize-handle-t,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-r,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-b,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-l,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-tl,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-tr,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-bl,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-br,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-t,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-r,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-b,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-l,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-tl,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-tr,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-bl,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-inner-br{
	background-image:none;
}

.yui-skin-pleade .yui-resize-knob .yui-resize-handle-l,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-r,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-l-active,.yui-skin-pleade .yui-resize-knob .yui-resize-handle-r-active{
	height:6px;
	width:6px;
}

.yui-skin-pleade .yui-resize-textarea .yui-resize-handle-r{
	right:-8px;
}

.yui-skin-pleade .yui-resize-textarea .yui-resize-handle-b{
	bottom:-8px;
}

.yui-skin-pleade .yui-resize-textarea .yui-resize-handle-br{
	right:-8px;
	bottom:-8px;
}


