/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
.yui-busy{
	cursor:wait!important;
}

.yui-toolbar-container fieldset,.yui-editor-container fieldset{
	padding:0;
	margin:0;
	border:0;
}

.yui-toolbar-container legend{
	display:none;
}

.yui-skin-pleade .yui-toolbar-container .yui-button button,.yui-skin-pleade .yui-toolbar-container .yui-button a,.yui-skin-pleade .yui-toolbar-container .yui-button a:visited{
	font-size:0;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-select button,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-select a,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-select a:visited,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton button,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a:visited{
	font-size:12px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a.up,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a.down{
	font-size:0;
	line-height:0;
	padding:0;
}

.yui-toolbar-container .yui-toolbar-subcont{
	padding:.25em 0;
	zoom:1;
}

.yui-toolbar-container-collapsed .yui-toolbar-subcont{
	display:none;
}

.yui-toolbar-container .yui-toolbar-subcont:after{
	display:block;
	clear:both;
	visibility:hidden;
	content:'.';
	height:0;
}

.yui-toolbar-container span.yui-toolbar-draghandle{
	cursor:move;
	border-left:1px solid #999;
	border-right:1px solid #999;
	overflow:hidden;
	text-indent:77777px;
	width:2px;
	height:20px;
	display:block;
	clear:none;
	float:left;
	margin:0 0 0 .2em;
}

.yui-toolbar-container .yui-toolbar-titlebar.draggable{
	cursor:move;
}

.yui-toolbar-container .yui-toolbar-titlebar{
	position:relative;
}

.yui-toolbar-container .yui-toolbar-titlebar h2{
	font-weight:bold;
	letter-spacing:0;
	border:none;
	color:#000;
	margin:0;
	padding:.2em;
}

.yui-toolbar-container .yui-toolbar-titlebar h2 a{
	text-decoration:none;
	color:#000;
	cursor:default;
}

.yui-toolbar-container.yui-toolbar-grouped span.yui-toolbar-draghandle{
	height:40px;
}

.yui-toolbar-container .yui-toolbar-group{
	float:left;
	margin-right:.5em;
	zoom:1;
}

.yui-toolbar-container .yui-toolbar-group:after{
	display:block;
	clear:both;
	visibility:hidden;
	content:'.';
	height:0;
}

.yui-toolbar-container .yui-toolbar-group h3{
	font-size:75%;
	padding:0 0 0 .25em;
	margin:0;
}

.yui-toolbar-container span.yui-toolbar-separator{
	width:2px;
	padding:0;
	height:18px;
	margin:.2em 0 .2em .1em;
	display:none;
	float:left;
}

.yui-toolbar-container.yui-toolbar-grouped span.yui-toolbar-separator{
	height:45px;
	*height:50px;
}

.yui-toolbar-container.yui-toolbar-grouped .yui-toolbar-group span.yui-toolbar-separator{
	height:18px;
	display:block;
}

.yui-toolbar-container ul li{
	margin:0;
	padding:0;
	list-style-type:none;
}

.yui-toolbar-container .yui-toolbar-nogrouplabels h3{
	display:none;
}

.yui-toolbar-container .yui-push-button,.yui-toolbar-container .yui-color-button,.yui-toolbar-container .yui-menu-button{
	position:relative;
	cursor:pointer;
}

.yui-toolbar-container .yui-button .first-child,.yui-toolbar-container .yui-button .first-child a{
	height:100%;
	width:100%;
	overflow:hidden;
	font-size:0;
}

.yui-toolbar-container .yui-button-disabled{
	cursor:default;
}

.yui-toolbar-container .yui-button-disabled .yui-toolbar-icon{
	opacity:.5;
	filter:alpha(opacity=50);
}

.yui-toolbar-container .yui-button-disabled .up,.yui-toolbar-container .yui-button-disabled .down{
	opacity:.5;
	filter:alpha(opacity=50);
}

.yui-toolbar-container .yui-button a{
	overflow:hidden;
}

.yui-toolbar-container .yui-toolbar-select .first-child a{
	cursor:pointer;
}

.yui-toolbar-fontname-arial{
	font-family:Arial;
}

.yui-toolbar-fontname-arial-black{
	font-family:Arial Black;
}

.yui-toolbar-fontname-comic-sans-ms{
	font-family:Comic Sans MS;
}

.yui-toolbar-fontname-courier-new{
	font-family:Courier New;
}

.yui-toolbar-fontname-times-new-roman{
	font-family:Times New Roman;
}

.yui-toolbar-fontname-verdana{
	font-family:Verdana;
}

.yui-toolbar-fontname-impact{
	font-family:Impact;
}

.yui-toolbar-fontname-lucida-console{
	font-family:Lucida Console;
}

.yui-toolbar-fontname-tahoma{
	font-family:Tahoma;
}

.yui-toolbar-fontname-trebuchet-ms{
	font-family:Trebuchet MS;
}

.yui-toolbar-container .yui-toolbar-spinbutton{
	position:relative;
}

.yui-toolbar-container .yui-toolbar-spinbutton .first-child a{
	z-index:0;
	opacity:1;
}

.yui-toolbar-container .yui-toolbar-spinbutton a.up,.yui-toolbar-container .yui-toolbar-spinbutton a.down{
	position:absolute;
	display:block;
	right:0;
	cursor:pointer;
	z-index:1;
	padding:0;
	margin:0;
}

.yui-toolbar-container .yui-overlay{
	position:absolute;
}

.yui-toolbar-container .yui-overlay ul li{
	margin:0;
	list-style-type:none;
}

.yui-toolbar-container{
	z-index:1;
}

.yui-editor-container .yui-editor-editable-container{
	position:relative;
	z-index:0;
	width:100%;
}

.yui-editor-container .yui-editor-masked{
	background-color:#CCC;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:.5;
	filter:alpha(opacity=50);
}

.yui-editor-container iframe{
	border:0;
	padding:0;
	margin:0;
	zoom:1;
	display:block;
}

.yui-editor-container .yui-editor-editable{
	padding:0;
	margin:0;
}

.yui-editor-container .dompath{
	font-size:85%;
}

.yui-editor-panel .hd{
	text-align:left;
	position:relative;
}

.yui-editor-panel .hd h3{
	font-weight:bold;
	padding:.25em 0 .25em .25em;
	margin:0;
}

.yui-editor-panel .bd{
	width:100%;
	zoom:1;
	position:relative;
}

.yui-editor-panel .bd div.yui-editor-body-cont{
	padding:.25em .1em;
	zoom:1;
}

.yui-editor-panel .bd .gecko form{
	overflow:auto;
}

.yui-editor-panel .bd div.yui-editor-body-cont:after{
	display:block;
	clear:both;
	visibility:hidden;
	content:'.';
	height:0;
}

.yui-editor-panel .ft{
	text-align:right;
	width:99%;
	float:left;
	clear:both;
}

.yui-editor-panel .ft span.tip{
	display:block;
	position:relative;
	padding:.5em .5em .5em 23px;
	text-align:left;
	zoom:1;
}

.yui-editor-panel label{
	clear:both;
	float:left;
	padding:0;
	width:100%;
	text-align:left;
	zoom:1;
}

.yui-editor-panel .gecko label{
	overflow:auto;
}

.yui-editor-panel label strong{
	float:left;
	width:6em;
}

.yui-editor-panel .removeLink{
	width:80%;
	text-align:right;
}

.yui-editor-panel label input{
	margin-left:.25em;
	float:left;
}

.yui-editor-panel .yui-toolbar-group{
	margin-bottom:.75em;
}

.yui-editor-panel .height-width{
	float:left;
}

.yui-editor-panel .height-width span{
	font-style:italic;
	display:block;
	float:left;
	overflow:visible;
}

.yui-editor-panel .height-width span.info{
	font-size:70%;
	margin-top:3px;
	float:none;
}


.yui-editor-panel .yui-toolbar-bordersize,.yui-editor-panel .yui-toolbar-bordertype{
	font-size:75%;
}

.yui-editor-panel .yui-toolbar-container span.yui-toolbar-separator{
	border:none;
}

.yui-editor-panel .yui-toolbar-bordersize span a span,.yui-editor-panel .yui-toolbar-bordertype span a span{
	display:block;
	height:8px;
	left:4px;
	position:absolute;
	top:3px;
	_top:-5px;
	width:24px;
	text-indent:52px;
	font-size:0;
}

.yui-editor-panel .yui-toolbar-bordertype span a span.yui-toolbar-bordertype-solid{
	border-bottom:1px solid black;
}

.yui-editor-panel .yui-toolbar-bordertype span a span.yui-toolbar-bordertype-dotted{
	border-bottom:1px dotted black;
}

.yui-editor-panel .yui-toolbar-bordertype span a span.yui-toolbar-bordertype-dashed{
	border-bottom:1px dashed black;
}

.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-0{
	*top:0;
	text-indent:0;
	font-size:75%;
}

.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-1{
	border-bottom:1px solid black;
}

.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-2{
	border-bottom:2px solid black;
}

.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-3{
	top:2px;
	*top:-5px;
	border-bottom:3px solid black;
}

.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-4{
	top:1px;
	*top:-5px;
	border-bottom:4px solid black;
}

.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-5{
	top:1px;
	*top:-5px;
	border-bottom:5px solid black;
}

.yui-toolbar-container .yui-toolbar-bordersize-menu,.yui-toolbar-container .yui-toolbar-bordertype-menu{
	width:95px!important;
}

.yui-toolbar-bordersize-menu .yuimenuitemlabel,.yui-toolbar-bordertype-menu .yuimenuitemlabel,.yui-toolbar-bordersize-menu .yuimenuitemlabel,.yui-toolbar-bordertype-menu .yuimenuitemlabel:hover{
	margin:0 3px 7px 17px;
}

.yui-toolbar-bordersize-menu .yuimenuitemlabel .checkedindicator,.yui-toolbar-bordertype-menu .yuimenuitemlabel .checkedindicator{
	position:absolute;
	left:-12px;
	*top:14px;
	*left:0;
}

.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-1 a{
	border-bottom:1px solid black;
	height:14px;
}

.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-2 a{
	border-bottom:2px solid black;
	height:14px;
}

.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-3 a{
	border-bottom:3px solid black;
	height:14px;
}

.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-4 a{
	border-bottom:4px solid black;
	height:14px;
}

.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-5 a{
	border-bottom:5px solid black;
	height:14px;
}

.yui-toolbar-bordertype-menu li.yui-toolbar-bordertype-solid a{
	border-bottom:1px solid black;
	height:14px;
}

.yui-toolbar-bordertype-menu li.yui-toolbar-bordertype-dashed a{
	border-bottom:1px dashed black;
	height:14px;
}

.yui-toolbar-bordertype-menu li.yui-toolbar-bordertype-dotted a{
	border-bottom:1px dotted black;
	height:14px;
}

h2.yui-editor-skipheader,h3.yui-editor-skipheader{
	height:0;
	margin:0;
	padding:0;
	border:none;
	width:0;
	overflow:hidden;
	position:absolute;
}

.yui-toolbar-colors{
	width:133px;
	zoom:1;
	display:none;
	z-index:100;
	overflow:hidden;
}

.yui-toolbar-colors:after{
	display:block;
	clear:both;
	visibility:hidden;
	content:'.';
	height:0;
}

.yui-toolbar-colors a{
	height:9px;
	width:9px;
	float:left;
	display:block;
	overflow:hidden;
	text-indent:999px;
	margin:0;
	cursor:pointer;
	border:1px solid #F6F7EE;
}

.yui-toolbar-colors a:hover{
	border:1px solid black;
}

.yui-color-button-menu{
	overflow:visible;
	background-color:transparent;
}

.yui-toolbar-colors span{
	position:relative;
	display:block;
	padding:3px;
	overflow:hidden;
	float:left;
	width:100%;
	zoom:1;
}

.yui-toolbar-colors span:after{
	display:block;
	clear:both;
	visibility:hidden;
	content:'.';
	height:0;
}

.yui-toolbar-colors span em{
	height:35px;
	width:30px;
	float:left;
	display:block;
	overflow:hidden;
	text-indent:999px;
	margin:.75px;
	border:1px solid black;
}

.yui-toolbar-colors span strong{
	font-weight:normal;
	padding-left:3px;
	display:block;
	font-size:85%;
	float:left;
	width:65%;
}

.yui-toolbar-group-undoredo h3,.yui-toolbar-group-insertitem h3,.yui-toolbar-group-indentlist h3{
	width:68px;
}

.yui-toolbar-group-indentlist2 h3{
	width:122px;
}

.yui-toolbar-group-alignment h3{
	width:130px;
}

.yui-skin-pleade .yui-editor-container{
	border:1px solid #808080;
}

.yui-skin-pleade .yui-toolbar-container{
	zoom:1;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-titlebar{
	background:url(sprite.png) repeat-x 0 -200px;
	position:relative;
}

.yui-skin-pleade .yui-editor-container .draggable .yui-toolbar-titlebar{
	cursor:move;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-titlebar h2{
	color:#000;
	font-weight:bold;
	margin:0;
	padding:.3em 1em;
	font-size:100%;
	text-align:left;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-group h3{
	color:#808080;
	font-size:75%;
	margin:1em 0 0;
	padding-bottom:0;
	padding-left:.25em;
	text-align:left;
}

.yui-toolbar-container span.yui-toolbar-separator{
	border:none;
	text-indent:33px;
	overflow:hidden;
	margin:0 .25em;
}

.yui-skin-pleade .yui-toolbar-container{
	background-color:#F2F2F2;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-subcont{
	padding:0 1em .35em;
	border-bottom:1px solid #808080;
}

.yui-skin-pleade .yui-toolbar-container-collapsed .yui-toolbar-titlebar{
	border-bottom:1px solid #808080;
}

.yui-skin-pleade .yui-editor-container .visible .yui-menu-shadow,.yui-skin-pleade .yui-editor-panel .visible .yui-menu-shadow{
	display:none;
}

.yui-skin-pleade .yui-editor-container ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.yui-skin-pleade .yui-editor-container ul li{
	list-style-type:none;
	margin:0;
	padding:0;
}

.yui-skin-pleade .yui-toolbar-group ul li.yui-toolbar-groupitem{
	float:left;
}

.yui-skin-pleade .yui-editor-container .dompath{
	background-color:#F2F2F2;
	border-top:1px solid #808080;
	color:#999;
	text-align:left;
	padding:.25em;
}

.yui-skin-pleade .yui-toolbar-container .collapse{
	background:url(sprite.png) no-repeat 0 -400px;
}

.yui-skin-pleade .yui-toolbar-container .collapsed{
	background:url(sprite.png) no-repeat 0 -350px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-titlebar span.collapse{
	cursor:pointer;
	position:absolute;
	top:4px;
	right:2px;
	display:block;
	overflow:hidden;
	height:15px;
	width:15px;
	text-indent:9999px;
}


.yui-skin-pleade .yui-toolbar-container .yui-push-button,.yui-skin-pleade .yui-toolbar-container .yui-color-button,.yui-skin-pleade .yui-toolbar-container .yui-menu-button{
	background:url(sprite.png) repeat-x 0 0;
	position:relative;
	display:block;
	height:22px;
	width:30px;
	_font-size:0;
	margin:0;
	border-color:#808080;
	color:#f2f2f2;
	border-style:solid;
	border-width:1px 0;
	zoom:1;
}

.yui-skin-pleade .yui-toolbar-container .yui-push-button a,.yui-skin-pleade .yui-toolbar-container .yui-color-button a,.yui-skin-pleade .yui-toolbar-container .yui-menu-button a{
	padding-left:35px;
	height:20px;
	text-decoration:none;
	font-size:0;
	line-height:2;
	display:block;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-select a{
	font-size:12px;
}

.yui-skin-pleade .yui-toolbar-container .yui-push-button .first-child,.yui-skin-pleade .yui-toolbar-container .yui-color-button .first-child,.yui-skin-pleade .yui-toolbar-container .yui-menu-button .first-child{
	border-color:#808080;
	border-style:solid;
	border-width:0 1px;
	margin:0 -1px;
	display:block;
	position:relative;
}

.yui-skin-pleade .yui-toolbar-container .yui-push-button-disabled .first-child,.yui-skin-pleade .yui-toolbar-container .yui-color-button-disabled .first-child,.yui-skin-pleade .yui-toolbar-container .yui-menu-button-disabled .first-child{
	border-color:#ccc;
}

.yui-skin-pleade .yui-toolbar-container .yui-push-button-disabled a,.yui-skin-pleade .yui-toolbar-container .yui-color-button-disabled a,.yui-skin-pleade .yui-toolbar-container .yui-menu-button-disabled a{
	color:#A6A6A6;
	cursor:default;
}

.yui-skin-pleade .yui-toolbar-container .yui-push-button-disabled,.yui-skin-pleade .yui-toolbar-container .yui-color-button-disabled,.yui-skin-pleade .yui-toolbar-container .yui-menu-button-disabled{
	border-color:#ccc;
}

.yui-skin-pleade .yui-toolbar-container .yui-button .first-child{
	*left:0;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-fontname{
	width:135px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-heading{
	width:92px;
}

.yui-skin-pleade .yui-toolbar-container .yui-button-hover{
	background:url(sprite.png) repeat-x 0 -1300px;
	border-color:#808080;
}

.yui-skin-pleade .yui-toolbar-container .yui-button-selected{
	background:url(sprite.png) repeat-x 0 -1700px;
	border-color:#808080;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-nogrouplabels h3{
	display:none;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-nogrouplabels .yui-toolbar-group{
	margin-top:.75em;
}

.yui-skin-pleade .yui-toolbar-container .yui-push-button span.yui-toolbar-icon,.yui-skin-pleade .yui-toolbar-container .yui-color-button span.yui-toolbar-icon,.yui-skin-pleade .yui-toolbar-container .yui-menu-button span.yui-toolbar-icon{
	display:block;
	position:absolute;
	top:2px;
	height:18px;
	width:18px;
	overflow:hidden;
	background:url(editor-sprite.gif) no-repeat 30px 30px;
}

.yui-skin-pleade .yui-toolbar-container .yui-button-selected span.yui-toolbar-icon,.yui-skin-pleade .yui-toolbar-container .yui-button-hover span.yui-toolbar-icon{
	background-image:url(editor-sprite-active.gif);
}

.yui-skin-pleade .yui-toolbar-container .visible .yuimenuitemlabel{
	cursor:pointer;
	color:#000;
	*position:relative;
}

.yui-skin-pleade .yui-toolbar-container .yui-button-menu{
	background-color:#fff;
}

.yui-skin-pleade .yui-toolbar-container .yui-button-menu .yui-menu-body-scrolled{
	position:relative;
}

.yui-skin-pleade div.yuimenu li.selected{
	background-color:#B3D4FF;
}

.yui-skin-pleade div.yuimenu li.selected a.selected{
	color:#000;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-bold span.yui-toolbar-icon{
	background-position:0 0;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-strikethrough span.yui-toolbar-icon{
	background-position:0 -108px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-italic span.yui-toolbar-icon{
	background-position:0 -36px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-undo span.yui-toolbar-icon{
	background-position:0 -1326px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-redo span.yui-toolbar-icon{
	background-position:0 -1355px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-underline span.yui-toolbar-icon{
	background-position:0 -72px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-subscript span.yui-toolbar-icon{
	background-position:0 -180px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-superscript span.yui-toolbar-icon{
	background-position:0 -144px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-forecolor span.yui-toolbar-icon{
	background-position:0 -216px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-backcolor span.yui-toolbar-icon{
	background-position:0 -288px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-justifyleft span.yui-toolbar-icon{
	background-position:0 -324px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-justifycenter span.yui-toolbar-icon{
	background-position:0 -360px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-justifyright span.yui-toolbar-icon{
	background-position:0 -396px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-justifyfull span.yui-toolbar-icon{
	background-position:0 -432px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-indent span.yui-toolbar-icon{
	background-position:0 -720px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-outdent span.yui-toolbar-icon{
	background-position:0 -684px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-createlink span.yui-toolbar-icon{
	background-position:0 -792px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-insertimage span.yui-toolbar-icon{
	background-position:1px -756px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-left span.yui-toolbar-icon{
	background-position:0 -972px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-right span.yui-toolbar-icon{
	background-position:0 -936px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-inline span.yui-toolbar-icon{
	background-position:0 -900px;
	left:5px;
}


.yui-skin-pleade .yui-toolbar-container .yui-toolbar-block span.yui-toolbar-icon{
	background-position:0 -864px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-bordercolor span.yui-toolbar-icon{
	background-position:0 -252px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-removeformat span.yui-toolbar-icon{
	background-position:0 -1080px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-hiddenelements span.yui-toolbar-icon{
	background-position:0 -1044px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-insertunorderedlist span.yui-toolbar-icon{
	background-position:0 -468px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-insertorderedlist span.yui-toolbar-icon{
	background-position:0 -504px;
	left:5px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton .first-child{
	width:35px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton .first-child a{
	padding-left:2px;
	text-align:left;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton span.yui-toolbar-icon{
	display:none;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a.up,.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a.down{
	right:2px;
	background:url(editor-sprite.gif) no-repeat 0 -1222px;
	overflow:hidden;
	height:6px;
	width:7px;
	min-height:0;
	padding:0;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a.up{
	top:2px;
	background-position:0 -1222px;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-spinbutton a.down{
	bottom:2px;
	background-position:0 -1187px;
}

.yui-skin-pleade .yui-toolbar-container select{
	height:22px;
	border:1px solid #808080;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-select .first-child a{
	padding-left:5px;
	text-align:left;
}

.yui-skin-pleade .yui-toolbar-container .yui-toolbar-select span.yui-toolbar-icon{
	background:url(editor-sprite.gif) no-repeat 0 -1144px;
	overflow:hidden;
	right:-2px;
	top:0;
	height:20px;
}

.yui-skin-pleade .yui-editor-panel .yui-color-button-menu .bd{
	background-color:transparent;
	border:none;
	width:135px;
}

.yui-skin-pleade .yui-color-button-menu .yui-toolbar-colors{
	border:1px solid #808080;
}

.yui-skin-pleade .yui-editor-panel{
	padding:0;
	margin:0;
	border:none;
	background-color:transparent;
	overflow:visible;
	position:absolute;
}

.yui-skin-pleade .yui-editor-panel .hd{
	margin:10px 0 0;
	padding:0;
	border:none;
}

.yui-skin-pleade .yui-editor-panel .hd h3{
	color:#000;
	border:1px solid #808080;
	background:url(sprite.png) repeat-x 0 -200px;
	width:99%;
	position:relative;
	margin:0;
	padding:3px 0 0 0;
	font-size:93%;
	text-indent:5px;
	height:20px;
}

.yui-skin-pleade .yui-editor-panel .bd{
	background-color:#F2F2F2;
	border-left:1px solid #808080;
	border-right:1px solid #808080;
	width:99%;
	margin:0;
	padding:0;
	overflow:visible;
}

.yui-skin-pleade .yui-editor-panel ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.yui-skin-pleade .yui-editor-panel ul li{
	margin:0;
	padding:0;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-container .yui-toolbar-subcont{
	padding:0;
	border:none;
	margin-top:.35em;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-bordersize,.yui-skin-pleade .yui-editor-panel .yui-toolbar-bordertype{
	width:50px;
}

.yui-skin-pleade .yui-editor-panel label{
	display:block;
	float:none;
	padding:4px 0;
	margin-bottom:7px;
}

.yui-skin-pleade .yui-editor-panel label strong{
	font-weight:normal;
	font-size:93%;
	text-align:right;
	padding-top:2px;
}

.yui-skin-pleade .yui-editor-panel label input{
	width:75%;
}

.yui-skin-pleade .yui-editor-panel .createlink_target,.yui-skin-pleade .yui-editor-panel .insertimage_target{
	width:auto;
	margin-right:5px;
}

.yui-skin-pleade .yui-editor-panel .removeLink{
	width:98%;
}

.yui-skin-pleade .yui-editor-panel label input.warning{
	background-color:#FFEE69;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-group h3{
	color:#000;
	float:left;
	font-weight:normal;
	font-size:93%;
	margin:5px 0 0 0;
	padding:0 3px 0 0;
	text-align:right;
}

.yui-skin-pleade .yui-editor-panel .height-width h3{
	margin:3px 0 0 10px;
}

.yui-skin-pleade .yui-editor-panel .height-width{
	margin:3px 0 0 35px;
	*margin-left:14px;
	width:42%;
	*width:44%;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-group-border{
	width:190px;
}

.yui-skin-pleade .yui-editor-panel .no-button .yui-toolbar-group-border{
	width:210px;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-group-padding{
	width:203px;
	_width:198px;
}

.yui-skin-pleade .yui-editor-panel .no-button .yui-toolbar-group-padding{
	width:172px;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-group-padding h3{
	margin-left:25px;
	*margin-left:12px;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-group-textflow{
	width:182px;
}

.yui-skin-pleade .yui-editor-panel .hd{
	background:none;
}

.yui-skin-pleade .yui-editor-panel .ft{
	background-color:#F2F2F2;
	border:1px solid #808080;
	border-top:none;
	padding:0;
	margin:0 0 2px 0;
}

.yui-skin-pleade .yui-editor-panel .hd span.close{
	background:url(sprite.png) no-repeat 0 -300px;
	cursor:pointer;
	display:block;
	height:16px;
	overflow:hidden;
	position:absolute;
	right:5px;
	text-indent:500px;
	top:2px;
	width:26px;
}

.yui-skin-pleade .yui-editor-panel .ft span.tip{
	background-color:#EDF5FF;
	border-top:1px solid #808080;
	font-size:85%;
}

.yui-skin-pleade .yui-editor-panel .ft span.tip strong{
	display:block;
	float:left;
	margin:0 2px 8px 0;
}

.yui-skin-pleade .yui-editor-panel .ft span.tip span.icon{
	background:url(editor-sprite.gif) no-repeat 0 -1260px;
	display:block;
	height:20px;
	left:2px;
	position:absolute;
	top:8px;
	width:20px;
}

.yui-skin-pleade .yui-editor-panel .ft span.tip span.icon-info{
	background-position:2px -1260px;
}

.yui-skin-pleade .yui-editor-panel .ft span.tip span.icon-warn{
	background-position:2px -1296px;
}

.yui-skin-pleade .yui-editor-panel .hd span.knob{
	position:absolute;
	height:10px;
	width:28px;
	top:-10px;
	left:25px;
	text-indent:9999px;
	overflow:hidden;
	background:url(editor-knob.gif) no-repeat 0 0;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-container{
	float:left;
	width:100%;
	background-image:none;
	border:none;
}

.yui-skin-pleade .yui-editor-panel .yui-toolbar-container .bd{
	background-color:#fff;
}

.yui-editor-blankimage{
	background-image:url(blankimage.png);
}

.yui-skin-pleade .yui-editor-container .yui-resize-handle-br{
	height:11px;
	width:11px;
	background-position:-20px -60px;
	background-color:transparent;
}


