    .sdx_bar, .sdx_bar a, .sdx_bar a:visited { background:#3F577E; color:White} 
    .sdx_bar a {font-weight: 900}
    .sdx_bar a:hover {color:red}
    table.xfm_help {position:absolute; }    
    h3, h2 {color:#3F577E }
    a { color: #3F577E;}
    a:visited { color: #6287C4 }   
    a:hover { color: #FF3300; text-decoration: underline;}   


    h1 {color:#6287C4;}
    body {  background: #6287C4; }
    p, li, ul { color: #333333; }
    .form, .form .xfm_caption {background:#6287C4; color: white}
    .menu a, .menu a:visited {color:black; font-weight:bold; width:100%}
    .menu a:hover {background:#3F577E; color:#FFFFFF}
    .high {background: #3F577E; color:#FFFFFF; font-weight:900; font-family:sans-serif; }