 
 /* help button is displayed none in main css (for NS4), here it's shown */
    input.xfm_help {display: inline !important }
 
    thead {background:ButtonFace; color:ButtonText} 
    .button {background:ButtonFace; color:ButtonText} 
    .fieldset {background:ButtonFace} 
    .highlight {background:Highlight; color:HighlightText} 
    .highlight button {color:HighlightText} 
    .info {background:InfoBackground; color:InfoText} 
                     
     @media print {.noprint {display: none} } 
