/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* ****************************** temp ****************************** */
.todo{
	background-color : red; 
}

.fixme{
	background-color : yellow;
}

table{
	border : 2px solid #000000;
	/*margin : auto;*/
	margin-bottom : 10px;
	border-collapse : collapse;
	width : 90%;
	table-layout : fixed;
}
caption{
	font-weight : bold;
	margin-top : 10px;
}

tr{
	border : 1px solid #000000;
}

th{
	border : 1px dotted #000000;
	text-align : left;
}

td{
	padding : 5px;
}

/* ****************************************************************** */
/* ************************* global styling ************************* */
/* ****************************************************************** */

body{
	background-color : #ffffff;
}


/* ****************************************************************** */
/* ****************** pleade page document styling ****************** */
/* ****************************************************************** */

table.pl-pgd-fv{ /* field-value */
	border:1;
}

table.pl-pgd-table{ /* tableau de correspondance */
}

.pl-pld-list-label{ /* label de liste */
}

.pl-pgd-c{ /* unité d'affichage : composant ead  (surchargeable par pl-ead-{nom de l'élément}, pl-ead-att-level-{valeur de @level}, pl-ead-att-otherlevel{valeur @otherlevel}) */
border : thin dotted CornflowerBlue;
background-color : AliceBlue;
}

.pl-pgd-sect{ /* section */
}

.pl-pgd-head{ /* affichage d'un entête (surchargeable par pl-ead-{nom du parent}-head) */
	font-weight : bold;
}

.pl-pgd-inline-label{ /* label du texte etiquetté */
	font-weight : bold;
	font-style : italic;
}

.pl-pgd-tooltip{ /*pour les info-bulles*/
	cursor : 	help;
}

.pl-pgd-ancestor{
}

.pl-pgd-children-list{
}

/* ******************************************************************* */
/* ******************* pleade ead elements styling ******************* */
/* ******************************************************************* */


/* ******************************* */
/* ********* HEADERS ************* */
/* ******************************* */
.pl-ead-head{
}

.pl-ead-eadheader {
}

.pl-ead-eadid {
}

table.pl-ead-profiledesc{
}

table.pl-ead-revisiondesc{
}

table.pl-ead-revisiondesc caption{
}

tr.pl-ead-change{
}

tr.pl-ead-change th { /* cellule date */
}

tr.pl-ead-change th { /* cellule item(s) */
}

tr.pl-ead-change ul.pl-ead-item{ /* item dans contexte change (avec plusieurs items) */
}

tr.pl-ead-change span.pl-ead-item{ /* item dans contexte change (un seul item) */
}


/* ******************************* */
/* ********* COMPONENT *********** */
/* ******************************* */

.pl-ead-archdesc{
}

/* surcharge possible de pl-pgd-c via : 
 - pl-ead-{nom de l'élément} : pl-ead-archdesc, pl-ead-c, pl-ead-c01, pl-ead-c02, pl-ead-c03, ...,  pl-ead-c012 
 - pl-ead-att-level-{valeur de @level} : pl-ead-att-level-class, pl-ead-att-level-collection, pl-ead-att-level-file,..., pl-ead-att-level-subseries (cf dtd)
 - pl-ead-att-otherlevel{valeur @otherlevel} si attribut présent (@otherlevel est de type NMTOKEN)
 */


/*surcharge exemple*/
.pl-ead-archdesc{
	background-color : white;
}

.pl-ead-att-level-subseries	{
	background-color : LemonChiffon ;
}
/*fin surcharge exemple*/


.pl-ead-scopecontent{
	border: 1px solid gold;
}

.pl-ead-dsc{
}

/* ********************************* */
/* ******* ARCHIVAL ELEMENTS ******* */
/* ********************************* */

.pl-ead-accessrestrict{
}

.pl-ead-accruals{
}

.pl-ead-acqinfo{
}

.pl-ead-altformavail{
}

.pl-ead-appraisal{
}

.pl-ead-arrangement{
}

.pl-ead-bibliography{
}

.pl-ead-bioghist{
}

.pl-ead-controlaccess{
}

.pl-ead-custodhist{
}

.pl-ead-descgrp{
}

span.pl-ead-edition { /* edition contexte biref, unittitle : inline */
}

div.pl-ead-edition { /* edition contexte titlepage (et filedesc/editionstmt todo) : bloc */
}

.pl-ead-fileplan{
}

.pl-ead-index{
}

.language{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-odd{
}

.pl-ead-originalsloc{
}

.pl-ead-otherfindaid{
}

.pl-ead-phystech{
}

.pl-ead-physfacet{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}
i
.pl-ead-prefercite{
}

/* non affiché 
.pl-ead-processinfo{
} */

.pl-ead-relatedmaterial{
}

.pl-ead-separatedmaterial{
}

.pl-ead-userestrict{
}

.pl-ead-bibseries{
}

/* surcharge possible de pl-pgd-head via :  pl-ead-{nom du parent}-head */

table.pl-ead-did{
}

table.pl-ead-did caption{
}

table.pl-ead-did th{ /* nom du champ */
}

table.pl-ead-did td{ /* valeur du champ */
}

.pl-ead-list{
}

pl-ead-list ul{
}

pl-ead-list ol{
}

pl-ead-list dl{
}

div.pl-ead-listhead{ /* listhead dans un contexte list */
}

table.pl-ead-chronlist{
}

table.pl-ead-chronlist caption{
}

thead.pl-ead-listhead{ /* listhead dans un contexte chronlist */
}

thead.pl-ead-listhead th{ /* head01 ou head02 de listhead dans un contexte chronlist */
	text-align : center; 
	color : LightSlateGrey; 
}

table.pl-ead-chronlist th{ /* cellule date */
}

table.pl-ead-chronlist td{ /* cellule item(s) */
}

td.pl-ead-eventgrp{
}

td.pl-ead-eventgrp ul{
}


.pl-ead-note{
	
}

.pl-ead-p{
	color:DarkOliveGreen;
}

.pl-ead-emph{
}

/* surcharge possible de pl-ead-emph via pl-ead-att-render-{@render}
valeurs possibles de  @render =  altrender,  bold  bolddoublequote  bolditalic  boldsinglequote  boldsmcaps																			
												boldunderline  doublequote  italic  nonproport  singlequote  smcaps  sub  super  underline
=> singlequote  et doublequote  sont ajoutés par la xsl */

.pl-ead-div{
}
.pl-ead-address{ /* possibilité texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-addressline{
	margin-top:0;
	margin-bottom:0;
}

blockquote	.pl-ead-blockquote{
}


.pl-ead-abbr{
	text-decoration : none;
	border-bottom: 1px dotted #005000;
	color : #005000;
}

.pl-ead-expan{
	text-decoration : none;
	border-bottom: 1px dotted #005000;
	color : #005000;
}

.pl-ead-imprint{	/* possibilité texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-legalstatus{
}

.pl-ead-publisher{
}

.pl-ead-title{ /*element d'indexation ??*/
}

/*	indexation elements 	*/

.pl-ead-corpname{
}

.pl-ead-famname{
}

.pl-ead-geogname{
}

.pl-ead-name{
}

.pl-ead-occupation{
}

.pl-ead-persname{
}

.pl-ead-subject{
}

.pl-ead-genreform{
}

.pl-ead-function{
}




.pl-ead-date{
}

.pl-ead-dimensions{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-extent{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-att-unit{
}

table.pl-ead-table{
	border : 2px solid #000000;
	/*margin : auto;*/
	margin-bottom : 10px;
	border-collapse : collapse;
	width : 90%;
	table-layout : fixed;
}

table.pl-ead-table caption{ /* lorsque <table> n'a qu'un enfant <tgroup> alors un seul tableau son label en <caption> */
}

p.pl-ead-table-head{ /* lorsque <table> a plusieurs enfant <tgroup> alors il y a 1 tableau par <tgroup>, pas de caption mais le label est affiché une seule fois dans un <p>  */ 
}

table.pl-ead-table tbody{ /* correspond a table/tgroup/tbody */
}

table.pl-ead-table thead{ /* correspond a table/tgroup/thead */
}

/*attention selecteur css ">" ne fonctionne pas sous IE, FIXME : classer le tr donc à moins qu'il y ait une autre syntaxe css*/ 
table.pl-ead-table tbody > tr { /* correspond a table/tgroup/tbody/row */
	border : 1px solid #000000;
}

table.pl-ead-table thead > tr { /* correspond a table/tgroup/thead/row */
	border : 1px solid #000000;
}

table.pl-ead-table th { /* correspond a table/tgroup/thead/row/entry */
	border : 1px solid #000000;
}

table.pl-ead-table td {/* correspond a table/tgroup/tbody/row/entry */
	border : 1px solid #000000;
}

table.pl-ead-tgroup{ /*contexte table + plusieurs tgroup => 1 table par tgroup*/
}