/* $Id: IE6styles.css 15002 2009-05-29 10:02:57Z jcwiklinski $ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */
.yui-navset-top,
.yui-navset-bottom {
    padding:auto;
}
.yui-navset,
.pl-pg-context-bg,
.pl-pg-context {
    zoom:1;
}
.yui-navset .yui-content,.yui-navset .yui-content div{
	zoom:1;
}
.yui-navset .yui-nav li,
.yui-navset .yui-navset-top .yui-nav li, /* in case nested */
.yui-navset .yui-navset-bottom .yui-nav li,
.yui-skin-pleade .yui-navset .yui-nav,.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav{
    /* display:inline; */
    zoom:1;
}
.yui-navset .yui-nav li a,
.yui-navset-top .yui-nav li a,
.yui-navset-bottom .yui-nav li a,
.yui-skin-pleade .yui-navset .yui-nav li,.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav li{
	zoom:1;
}

/* layout;css */

.yui-layout div.yui-layout-hd,
.yui-layout div.yui-layout-bd,
.yui-layout div.yui-layout-ft,
.yui-skin-pleade .yui-layout .yui-resize-resizing .yui-resize-handle,
.yui-skin-pleade .yui-layout .yui-resize .yui-resize-handle-active,
.yui-skin-pleade .yui-layout .yui-resize-proxy .yui-layout-handle-l,
.yui-skin-pleade .yui-layout .yui-resize-proxy .yui-layout-handle-r,
.yui-skin-pleade .yui-layout-unit .yui-resize-handle,
.yui-skin-pleade .yui-layout-unit .yui-resize-handle-r,
.yui-skin-pleade .yui-layout-unit .yui-resize-handle-l,
.yui-skin-pleade .yui-layout-unit .yui-resize-handle-t .yui-layout-resize-knob,.yui-skin-pleade .yui-layout-unit .yui-resize-handle-b .yui-layout-resize-knob {
	zoom:1;
}

/*resize */
.yui-resize-status,
.yui-resize-status strong,.yui-resize-status em,
.yui-skin-pleade .yui-resize .yui-resize-handle,
.yui-skin-pleade .yui-resize .yui-resize-handle-active,
.yui-skin-pleade .yui-resize .yui-resize-handle-l,.yui-skin-pleade .yui-resize .yui-resize-handle-r,.yui-skin-pleade .yui-resize .yui-resize-handle-l-active,.yui-skin-pleade .yui-resize .yui-resize-handle-r-active,
.yui-resize,
.yui-resize-wrap,
.yui-resize .yui-resize-handle,
.yui-resize .yui-resize-handle-br,
.yui-resize .yui-resize-handle-bl,
.yui-resize .yui-resize-handle-tl,
.yui-resize .yui-resize-handle-tr,
.yui-resize .yui-resize-handle-r,
.yui-resize .yui-resize-handle-l,
.yui-resize .yui-resize-handle-b,
.yui-resize .yui-resize-handle-t{
	zoom:1;	
}
.yui-resize-hover .yui-resize-handle,.yui-resize-hidden .yui-resize-handle{
	filter:alpha(opacity=0);	
}

.yui-resize-ghost{
	filter:alpha(opacity=50);	
}
.yui-skin-pleade .yui-resize-hover .yui-resize-handle-active{
	filter:alpha(opacity=100);	
}
.yui-skin-pleade .yui-layout .yui-layout-unit div.yui-layout-bd{
	border-bottom-width:0;
	border-top-width:0;	
}
.yui-skin-pleade .yui-layout div.yui-layout-ft{
	border-top-width:0;
}

/* pleade.css */
ul.pl-pg-body-menu-box li {
	float:left;
	line-height:1.6em;
}

ul.pl-pg-body-menu-box #btn-home-span button {
	background-position:0 -333px;   /* verifier */
	text-indent:3px;
}
#btn-close-window-span button {
	background-position:0 -56px;    /* verifier */
	text-indent:0px;
}
#btn-close-window-span.yui-button-hover button {
	background-position:0 -76px;    /* verifier */
}
#btn-close-window-span.yui-button-active button,
.pl-pg-help .btn-close-window-span {
	background-position:0 -76px;    /* verifier */
}
#btn-help-span button{
	text-indent:0px;
}
#btn-goto-opener-span button{
	background-position:0 -257px;   /* verifier */
	white-space: normal; /* Necessaire pour que le menu impression s'affiche correctement sous IE7 */
	text-indent:3px;
}
#btn-goto-opener-span.yui-button-hover button {
	background-position:0 -237px    /* verifier */
}
#btn-goto-opener-span.yui-button-active button,
.pl-pg-help .btn-goto-opener-span  {
	background-position:0 -277px;   /* verifier */
}
#btn-home-span button {
	background-position:0 -337px;   /* verifier */
	white-space: normal; /* Necessaire pour que le menu impression s'affiche correctement sous IE7 */
	text-indent:0px;
}
#btn-home-span.yui-button-hover button {
	background-position:0 -297px;   /* verifier */
}

#btn-home-span.yui-button-active button,
.pl-pg-help .btn-home-span {
	background-position:0 -317px;   /* verifier */
}
#btn-help, #btn-goto-opener, #btn-home, #btn-close-window {
	height:1.4em
}
/* module-ead-xslt.css */

.pl-ead .pl-pgd-fv th,
.pl-ead .pl-pgd-fv .pl-tbl-th {
	font-size:100%;
}
.pl-form-suggest-value {
	height:1em;
}
.pl-ead-archdesc th,
.pl-ead-archdesc td{
	font-size:77%;
}

/* module-eadea.css */

#pl-pg-body-main-mcol {
	height:100%;
}
form {
	display:inline-table;
}
.pl-pg-context h1 {
	height:1em;/*pour IE*/
}
.pl-title-ead .pl-title {
	margin:0 1px 3px 1px;          /* verifier */
}
.pl-title-ead .pl-title h1 {
	padding-bottom:0.2em;          /* verifier */
	height:1em;/*pour IE*/
	margin:0;                      /* verifier */
}
#pl-title-ead-index h1 {
	padding:0 .5em;
}
.pl-title {
	height:1em;
}
.pl-pgd .pl-title {
	height:1em;
}
.pl-form-ead-admin {
	display:inline-table;
}
td.pl-tbl-ead-admin-actions{
  white-space: normal;
}
.cdc-title button.disabled,
.pl-bskt-bttn-cnt button.disabled {
	background:url(../images/icones.png) no-repeat 0 -400px;
}
.bskt-bttn button.disabled {
	background:url(../images/icones.png) no-repeat 0 -520px;
}
.pl-title-brdr-l button.disabled,
.pl-box-title-button button.disabled {
	background:none;
}
.results .navpage a {
	margin-right:0.2em;
}
table.pl-pgd-fv td,
table.pl-pgd-fv .pl-tbl-th {
	font-size:1em;
}
.pl-tbl-th-sp {
	font-size:1em;
}
.pl-form-thsrs {
	zoom:1;
}

/* container.css */
.mask {
    filter: alpha(opacity=50);
}
.yui-panel-container.shadow .underlay {
    filter: alpha(opacity=12);
}
.button-group button {
    cursor: hand;
}
.masked select,.drag select,.hide-select select{
	visibility:hidden;
}

.yui-panel-container select{
	visibility:inherit;
}
.masked select,
.drag select,
.hide-select select {
	visibility: hidden;
}

.yui-panel-container select {
	visibility: inherit;
}
.yui-skin-pleade .mask{
	filter:alpha(opacity=25);
}
.yui-skin-pleade .yui-panel-container{
	padding:2px;
}
.yui-skin-pleade .yui-panel{
	zoom:normal;
}
.yui-skin-pleade .yui-panel .hd,
.yui-skin-pleade .yui-panel .bd,
.yui-skin-pleade .yui-panel .ft{
	margin:0;
	border:0;
}
.yui-skin-pleade .yui-panel .hd{
	line-height:1.9;
}
.yui-skin-pleade .yui-panel-container.shadow{
	padding:2px 4px 0 2px;
}
.yui-skin-pleade .yui-panel-container.shadow .underlay{
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin-top:3px;
	margin-left:-1px;
	filter:alpha(opacity=12);
}
.yui-skin-pleade .yui-tt-shadow-visible{
	filter:alpha(opacity=12);
}

/* autocomplete.css */

.yui-skin-pleade .yui-ac-shadow{
	opacity:.10;
	filter:alpha(opacity=10);
}
.yui-skin-pleade .yui-ac iframe{
	opacity:0;
	filter:alpha(opacity=0);
}
.yui-skin-pleade .yui-ac-content li{
	zoom:1;
}

/* button.css */
.yui-button .first-child,
.yui-button button,.yui-button a {
	display:inline-block;
}
.yui-button button{
	overflow:visible;
}
.yui-skin-pleade .yui-button .first-child{
	position:relative;
	left:-1px;
	margin:0;
	position:static;
}
.yui-skin-pleade .yui-button button,
.yui-skin-pleade .yui-button a{
	line-height:1.7;
	min-height:auto;
	font-size:110%;
}
.yui-skin-pleade .yui-button a{
	line-height:1.875;
	padding-bottom:1px;
}
/* datatable */
.yui-dt-hd{
	zoom:1;
}
.yui-dt-resizer{
	filter:alpha(opacity=0);
	cursor:col-resize;
}
.yui-dt-resizerproxy{
	filter:alpha(opacity=0);
}
.yui-skin-pleade .yui-panel-container .underlay {
	filter:alpha(opacity=20);
}
.yui-skin-pleade .yui-dt table{
	border-collapse:collapse;
}
.yui-skin-pleade .yui-dt-mask{
	filter:alpha(opacity=25);
}

.yui-skin-pleade .yui-navset .yui-nav a em,
.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav a em{
	cursor:hand
}.yui-skin-pleade .yui-navset-left .yui-nav,
.yui-skin-pleade .yui-navset .yui-navset-left .yui-nav,
.yui-skin-pleade .yui-navset .yui-navset-right .yui-nav,
.yui-skin-pleade .yui-navset-right .yui-nav{
	Xposition:absolute;
}
.cdc-title .show-results a {
	padding:0.1em 0.3em 0 0.3em;
}
/* menu.css */

.yuimenubar ul{
	zoom:1;
}
.yuimenubar .yuimenu ul{
	zoom:normal;
}

.yui-navset{
	zoom:1;
}.yui-navset .yui-content{
	zoom:1;
}
.yui-navset .yui-nav li,
.yui-navset .yui-navset-top .yui-nav li,
.yui-navset .yui-navset-bottom .yui-nav li{
	display:inline;
	zoom:1;
}
.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,
.yui-navset-bottom .yui-nav li a{
	zoom:1;
}
.yui-skin-pleade .yui-navset .yui-nav,
.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav{
	Xposition:relative;
	zoom:1;
}
.yui-skin-pleade .yui-navset .yui-nav li,
.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav li{
	zoom:1;
}
.pl-pgd #pl-pg-body-main-lcol {
	/* width:auto */;
}
.yui-navset {
/* position:absolute; */
}
#pl-pg-tabs{
position:relative;
}
.yui-skin-pleade .yui-button button, .yui-skin-pleade .yui-button a {
	font-size:90%
}
/*Mif.tree */
.mif-tree-icon,
.mif-tree-empty-icon{
	zoom:1;
}
.mif-tree-hover-node .mif-tree-name,
.mif-tree-node-selected .mif-tree-name,
.mif-tree-node-selected .mif-tree-gadjet{
	background-color:transparent;
}

.document-results,
.mif-tree-wrapper,
.mif-tree-node,
.mif-tree-node-wrapper {
	zoom:1;
}
.mif-tree-node-wrapper{
background:url('../images/mif/horizontal-line.gif') no-repeat 9px 0;
}
/* Fenetre EAD - presentation tabulaire */

table.pl-ead-did {
	border-collapse:collapse;
	table-layout:auto;
	width:97%;
}
/*
.ygtvitem .cdc-exit .pl-pgd-c .pl-pgd-sect p.pl-ead-p {
	margin:0.8em 0 0.5em 21em;
} */


/***** Probleme avec version YUI et select ****/
.yui-skin-pleade .yui-ac {
	position:static;
}
.yui-skin-pleade .yui-ac-container {
	position:relative;
}

.pl-form-suggest-value a, .pl-form-select-value a {
    width:.1em;
    white-space: nowrap
}

.pl-menu-frm-search input.pl-npt-img {
    height: 17px;
    width: 17px;
}