/* $Id: IE7styles.css 15002 2009-05-29 10:02:57Z jcwiklinski $ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */
ul.pl-pg-body-menu-box li {
	float:left;
}
ul.pl-pg-body-menu-box #btn-home-span button {
	background-position:0 -333px;
	text-indent:3px;
}
#btn-close-window-span button {
	background-position:0 -56px;
	text-indent:0px;
}
#btn-close-window-span.yui-button-hover button {
	background-position:0 -76px;
}
#btn-close-window-span.yui-button-active button,
.pl-pg-help .btn-close-window-span {
	background-position:0 -76px;
}
#btn-help-span button{
	text-indent:0px;
}
#btn-goto-opener-span button{
	background-position:0 -257px;
	white-space: normal; /* Necessaire pour que le menu impression s'affiche correctement sous IE7 */
	text-indent:3px;
}
#btn-goto-opener-span.yui-button-hover button {
	background-position:0 -237px;
}
#btn-goto-opener-span.yui-button-active button,
.pl-pg-help .btn-goto-opener-span  {
	background-position:0 -277px;
}
#btn-home-span button {
	background-position:0 -337px;
	white-space: normal; /* Necessaire pour que le menu impression s'affiche correctement sous IE7 */
	text-indent:0px;
}
#btn-home-span.yui-button-hover button {
	background-position:0 -297px;
}

#btn-home-span.yui-button-active button,
.pl-pg-help .btn-home-span {
	background-position:0 -317px;
}

/* module-ead-xslt.css */

.pl-ead .pl-pgd-fv th,
.pl-ead .pl-pgd-fv .pl-tbl-th {
	font-size:100%;    /* verifier */
}

.pl-ead-archdesc th,
.pl-ead-archdesc td{
	font-size:77%;     /* verifier */
}

/* module-eadea.css */

#pl-pg-body-main-mcol {
	height:100%;
}
form {
	display:inline-table;
}
/*.pl-title-ead {
	font-size:0;
}*/
.pl-title-ead .pl-title {
	margin:3px 1px 3px 1px;
	height:1em;
}
.pl-title-ead .pl-title h1 {
	padding-bottom:0;
	margin:0;
	font-size:16pt;
}
#pl-title-ead-index h1 {
	padding:0 .5em;	 
}
.pl-title {
	height:auto;	
}
.pl-pgd .pl-title {
	height:auto;
}
.pl-form-ead-admin {
	display:inline-table;
}
.cdc-title button.disabled,
.pl-bskt-bttn-cnt button.disabled {
	background:url(../images/icones.png) no-repeat 0 -400px;    /* verifier */
}
.bskt-bttn button.disabled {
	background:url(../images/icones.png) no-repeat 0 -520px;    /* verifier */
}
.pl-title-brdr-l button.disabled,
.pl-box-title-button button.disabled {
	background:none;               /* verifier */
}
.results .navpage a {
	margin-right:0.2em;
}
table.pl-pgd-fv td,
table.pl-pgd-fv .pl-tbl-th {
	font-size:1em;       /* verifier */
}
.pl-tbl-th-sp {
	font-size:1em;
}

/* datatable */
.yui-dt-hd{
	zoom:1;
}
.yui-dt-resizer{
	filter:alpha(opacity=0);
	cursor:col-resize;
}
.yui-dt-resizerproxy{
	filter:alpha(opacity=0);
}
.yui-skin-pleade .yui-panel-container .underlay {
	filter:alpha(opacity=20);
}
.yui-skin-pleade .yui-dt table{
	border-collapse:collapse;
}
.yui-skin-pleade .yui-dt-mask{
	filter:alpha(opacity=25);
}
/* container.css */
.masked select,.drag select,.hide-select select{
	visibility:hidden;   /* verifier */
}

.yui-panel-container select{
	visibility:inherit;   /* verifier */
}
.masked select,
.drag select,
.hide-select select {
	visibility: hidden;   /* verifier */
}

.yui-panel-container select {
	visibility: inherit;   /* verifier */
}
.yui-skin-pleade .mask{
	filter:alpha(opacity=25);
}
.yui-skin-pleade .yui-panel-container{
	padding:2px;
}
.yui-skin-pleade .yui-panel{
	zoom:normal;   /* verifier */
}
.yui-skin-pleade .yui-panel .hd,
.yui-skin-pleade .yui-panel .bd,
.yui-skin-pleade .yui-panel .ft{
	margin:0;   /* verifier */
	border:0;   /* verifier */
}
.yui-skin-pleade .yui-panel-container.shadow{
	padding:2px 4px 0 2px;   /* verifier */
}
.yui-skin-pleade .yui-panel-container.shadow .underlay{
	top:4px;
	left:-1px;
	right:-1px;
	bottom:-1px;
	filter:alpha(opacity=12);
}
.yui-skin-pleade .yui-tt-shadow-visible{
	filter:alpha(opacity=12);
}

/* autocomplete.css */

.yui-skin-pleade .yui-ac-shadow{
	filter:alpha(opacity=10);
}
.yui-skin-pleade .yui-ac iframe{
	filter:alpha(opacity=0);
}
/*resize */
.yui-resize-status,
.yui-resize-status strong,.yui-resize-status em,
.yui-skin-pleade .yui-resize .yui-resize-handle,
.yui-skin-pleade .yui-resize .yui-resize-handle-active,
.yui-skin-pleade .yui-resize .yui-resize-handle-l,.yui-skin-pleade .yui-resize .yui-resize-handle-r,.yui-skin-pleade .yui-resize .yui-resize-handle-l-active,.yui-skin-pleade .yui-resize .yui-resize-handle-r-active,
.yui-resize,
.yui-resize-wrap,
.yui-resize .yui-resize-handle,
.yui-resize .yui-resize-handle-br,
.yui-resize .yui-resize-handle-bl,
.yui-resize .yui-resize-handle-tl,
.yui-resize .yui-resize-handle-tr,
.yui-resize .yui-resize-handle-r,
.yui-resize .yui-resize-handle-l,
.yui-resize .yui-resize-handle-b,
.yui-resize .yui-resize-handle-t{
	zoom:1;	
}
.yui-resize-hover .yui-resize-handle,.yui-resize-hidden .yui-resize-handle{
	filter:alpha(opacity=0);	
}

.yui-resize-ghost{
	filter:alpha(opacity=50);	
}
.yui-skin-pleade .yui-resize-hover .yui-resize-handle-active{
	filter:alpha(opacity=100);	
}                                                                    
/* button.css */
.yui-button .first-child,
.yui-button button,.yui-button a {
	display:inline-block;
}
.yui-button button{
	overflow:visible;    /* verifier */
}
.yui-skin-pleade .yui-button .first-child{
	margin:0;           /* verifier */
	position:static;    /* verifier */
}
.yui-skin-pleade .yui-button button,
.yui-skin-pleade .yui-button a{
	line-height:1.7;    /* verifier */
	min-height:auto;    /* verifier */
}
.yui-skin-pleade .yui-button a{
	line-height:1.875;     /* verifier */
	padding-bottom:1px;  /* verifier */
}
.yui-dt-resizer{
	filter:alpha(opacity=0);
}
.yui-skin-pleade .yui-dt table{
	border-collapse:collapse;   /* verifier */
}
.yui-skin-pleade .yui-dt-mask{
	filter:alpha(opacity=25);   /* verifier */
}

/* menu.css */

.yuimenubar ul{
	zoom:1;   /* verifier */
}
.yuimenubar .yuimenu ul{
	zoom:normal;   /* verifier */
}

.yui-navset{
	zoom:1;   /* verifier */
}.yui-navset .yui-content{
	zoom:1;   /* verifier */
}
.yui-navset .yui-nav li,
.yui-navset .yui-navset-top .yui-nav li,
.yui-navset .yui-navset-bottom .yui-nav li{
	display:inline;   /* verifier */
	zoom:1;   /* verifier */
}
.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,
.yui-navset-bottom .yui-nav li a{
	zoom:1;  /* verifier */
}
.yui-skin-pleade .yui-navset .yui-nav,
.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav{
	zoom:1;   /* verifier */
}
.yui-skin-pleade .yui-navset .yui-nav li,
.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav li{
	zoom:1;   /* verifier */
}

.yui-skin-pleade .yui-panel-container .underlay {
	filter:alpha(opacity=20);
}

/*Mif.tree */
.mif-tree-name{
	padding-left:0px;
	margin-left:16px;
}

/***** Probleme avec version YUI et select ****/
.yui-skin-pleade .yui-ac {
	position:static;
}
.yui-skin-pleade .yui-ac-container {
	position:relative;
}
.pl-form-suggest-value {
    margin: 2px 0;
}