/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
#tree_container{
height:200px;
width:200px;
position:relative;
border:solid 1px #b7b7b7;
}


/*...................................................................................
===============GLOBAL=================
......................................................................................*/

.mif-tree-wrapper{
/*position: absolute;*/
/*width: 100%;*/
/*width: 90%;*/
height:100%;
margin:0;
padding:0;
overflow:auto;
font-family:sans-serif;
font-size:11px;
line-height:18px;/******Tree node height******/
/*white-space:nowrap;*/
cursor:default;
}

.mif-tree-bg{
width:100%;
height:100%;
position:absolute;
overflow:hidden;
}

.mif-tree-bg-container{
width:100%;
display:none;
}

.mif-tree-bg-node{
width:100%;
height:18px;
}

.mif-tree-bg-selected{
background-color:#dcd7ab;
}

.mif-tree-wrapper:focus{
outline:0;
}

.mif-tree-wrapper span{
padding-bottom:2px;
padding-top:2px;
cursor:inherit;
}

.mif-tree-children{
padding-left:18px;
width:auto;
}

.mif-tree-node{
	/*width:91%;*/
	background:url('../images/mif/line.gif') repeat-y 8px 0px;
}

.mif-tree-node-last{
background:url('../images/mif/line.gif') no-repeat 8px 0px;
}

.mif-tree-name {
    cursor:default;
    float:none;
    overflow:hidden;
    padding-left:20px;
    margin-top:-20px;
    display:block;
}


.mif-tree-hover-node .mif-tree-name{
	background-color: #e7e7e7;
}
.document-results .mif-tree-hover-node .mif-tree-name{
	background-color: white;
}

.mif-tree-hover-node .mif-tree-name div span{
	background-color: transparent;
}

.mif-tree-node-wrapper{
background:url('../images/mif/horizontal-line.gif') no-repeat 9px center;
}

/*...................................................................................
================GADJETS=================
......................................................................................*/

.mif-tree-gadjet{
background-image:url('../images/mif/gadjets.png');
background-color: transparent;
padding-right: 16px;
z-index:1;
overflow:hidden;
background-repeat:no-repeat;
cursor:default;
}

.mif-tree-gadjet-none{
background:none;
}

.mif-tree-gadjet-minus{
background-position: 0px 50%;
}

.mif-tree-gadjet-plus{
background-position: -18px 50%;
}

.mif-tree-gadjet-hover .mif-tree-gadjet-minus{
background-position: -54px 50%;
}

.mif-tree-gadjet-hover .mif-tree-gadjet-plus{
background-position: -72px 50%;
}



/*.mif-tree-gadjet-hover{
background-image:url('../images/mif/gadjets-hover.gif');
}*/




/*...................................................................................
================ICONS=================
......................................................................................*/
.mif-tree-icon{
padding-right:18px;
background-position:0 0;
background-repeat:no-repeat;
cursor:inherit;
}

.mif-tree-no-icon{
padding-right:0px;
}

.mif-tree-open-icon{
background-image:url('../images/mif/openicon.gif')
}

.mif-tree-close-icon{
background-image:url('../images/mif/closeicon.gif')
}

.mif-tree-loader-open-icon,.mif-tree-loader-close-icon{
background-image:url('../images/mif/mootree_loader.gif')
}

.mif-tree-book-icon{
background-image:url('../images/mif/book_icon.gif');
}

.mif-tree-bin-open-icon{
background-image:url('../images/mif/bin_open_icon.gif');
}

.mif-tree-bin-close-icon{
background-image:url('../images/mif/bin_close_icon.gif');
}

.mif-tree-empty-icon{
padding-right:0px;
}



/*...................................................................................
================SELECTION=================
......................................................................................*/

.mif-tree-node-selected .mif-tree-name{
	background-color: #e7e7e7;
	color:black;
	font-style:italic;
	z-index:0
}
.mif-tree-node-selected .mif-tree-name a{
	color:black;
}
.pl-hilite{
	background-color: yellow;
}

.mif-tree-node-selected .mif-tree-gadjet {
	background-color: #e7e7e7;
}

.mif-tree-node-selected .mif-tree-name span{
 	background-color: inherit;
}

.mif-tree-hover-node .mif-tree-name span{
	text-decoration:none
}

/*.mif-tree-hover-node .mif-tree-name{
	text-decoration:underline;
}*/

.mif-tree-hover-node{
	/*background-color:#e7e7e7;*/
}


/*...................................................................................
===============D'n'D=================
......................................................................................*/
.mif-tree-pointer{
height:1px;
overflow: hidden;
position: absolute;
background-image:url('../images/mif/1.gif');
background-repeat:repeat-x;
background-color:#292fef;
}


.mif-tree-ghost{
background-color:#fff;
border:solid 2px #e8e8f7;
padding-left:2px;
}

.mif-tree-ghost span{
padding-top:2px;
padding-bottom:2px;
}

.mif-tree-ghost .mif-tree-node-wrapper{
background:none;
}

.mif-tree-ghost span.mif-tree-text{
padding-top:1px;
padding-bottom:1px;
}

.mif-tree-ghost-icon{
padding-left:16px;
background-color:#fff;
background-repeat:no-repeat;
background-image:url('../images/mif/dropzone.gif');
}

.mif-tree-ghost-after{
background-position:-64px 2px;
}

.mif-tree-ghost-before{
background-position:-48px 2px;
}

.mif-tree-ghost-between{
background-position:-16px 2px;
}

.mif-tree-ghost-inside{
background-position:-0px 2px;
}

.mif-tree-ghost-notAllowed{
background-position:-32px 2px;
}

.mif-tree-drag-current{
background-color:#cfcfd8;
}

.mif-tree-replace{
background-color:#99c8fb;
}





/*...................................................................................
================CHECKBOX=================
......................................................................................*/
.mif-tree-checkbox{
padding-left:18px;
}

.mif-tree-node-checked, .mif-tree-node-checked .mif-tree-checkbox{
background:url('../images/mif/checked.gif') center 2px no-repeat;
padding-left:18px;
}

.mif-tree-node-unchecked, .mif-tree-node-unchecked .mif-tree-checkbox{
background:url('../images/mif/unchecked.gif') center 2px no-repeat;
padding-left:18px;
}

.mif-tree-node-checked-selected{
background:url('../images/mif/checked_selected.gif') center 2px no-repeat;
padding-left:18px;
}

.mif-tree-node-unchecked-selected{
background:url('../images/mif/unchecked_selected.gif') center 2px no-repeat;
padding-left:18px;
}

.myCheckBox{
 padding-right:18px;
 z-index: 100;
}


/*...................................................................................
===============RENAME=================
......................................................................................*/
.mif-tree-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}