/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */
/* ****************************** temp ****************************** */
.todo{
	background-color : red;
}

.fixme{
	background-color : yellow;
}

.pl-ead .pl-pgd-fv table{
	border : 1px solid #38c4f0;
	margin-bottom : 10px;
	border-collapse : collapse;
}

.pl-ead caption{
	font-weight : bold;
	margin:.8em 0 .5em 0;
	font-size:120%;
}

.pl-ead .pl-pgd-fv tr{
	border : 1px solid #b1e1f0;
}

.pl-ead .pl-pgd-fv th,
.pl-ead .pl-pgd-fv .pl-tbl-th {
	border : 1px dotted #b1e1f0;
	background:#f0f7fc;
	text-align : left;
	padding : .3em;
	vertical-align:top;
	font-weight:normal;
	color:#000;
	width:30%;
}
.pl-ead .pl-pgd-fv td{
	padding : .3em;
	vertical-align:top
}

.pl-ead dt {
	font-weight:bold;
	color:#013579
}

.pl-ead table ul {
	padding-left:1.2em
}

/* ****************************************************************** */
/* ************************* global styling ************************* */
/* ****************************************************************** */

/* body{
	background-color : #ffffff;
	font-family:Arial, sans-serif;
	font-size:77%;
} */

/* ****************************************************************** */
/* ****************** pleade page document styling ****************** */
/* ****************************************************************** */
/* .pl-pgd-toc{ // FIXME : ajouté par MR pour la div de la TDM...?
	height : 550px;
	overflow : hidden;
} */

.pl-pgd-tabs{
	overflow-y:auto;
}

div.pl-pgd-error{ /*pour afficher des messages d'erreur*/
	font-size : 150%;
	color : red;
}

tr.pl-pgd-eadheader-subtitle th{ /* pour eadheader: "sous titre" des tableaux : contient 1 seul th avec colspan = 2 */
	text-align : center;
	font-weight:bold;
}

/*tous les sous-élément du titlepage sont dans un bloc (div) pour être placés comme on veut sur la page de titre */
div.pl-pgd-titlepage-block{
}

table.pl-pgd-fv{ /* field-value */
	/*border:1;*/
}

table.pl-pgd-table{ /* tableau de correspondance */
	/*FIXME : est utilisé uniquement pour chronlist : c'est un tableau de correspondance date/event
	on aurait pu utiliser aussi table.pl-pgd-fv mais date n'est pas vraiment un champ (c'est bien une valeur)*/
}
table.pl-pgd-table td,
table.pl-pgd-table th{
	vertical-align:top;
}

p.pl-pgd-list-head{ /* titre de liste */
}

div.pl-pgd-c{ /* unité d'affichage : composant ead  (surchargeable par pl-ead-{nom de l'élément}, pl-ead-att-level-{valeur de @level}, pl-ead-att-otherlevel{valeur @otherlevel}) */
/*border : thin dotted CornflowerBlue;
background-color : AliceBlue;*/
margin:.5em 0 1.5em 0;
}

div.pl-pgd-sect div.pl-pgd-sect { /* section */
	margin:1em 0 1em 3em;
}

.pl-pgd-head{ /*pour l'affichage d'un label (template "display-label"). par défaut c'est un <p> mais très souvent c'est aussi un <caption>*/
	/* margin:2em 0 0.2em 0; */
	margin:1em 0 0.2em 0;
}
div.pl-pgd-cdc .pl-ead-p{	/*affichage inline du moreinfos dans le cadre de classement*/
	padding:0 0 0 0.3em;
}
.pl-pgd-sect .pl-pgd-sect .pl-pgd-head {
	font-size:115%;
	margin:.8em 0 .6em 0;
	background:none;
	color:#013579;
	padding-left:0;
	border:none;
	border-bottom:1px solid #0093fc;
}
div.pl-pgd-sect .pl-pgd-head{ /* affichage d'un entête (surchargeable par pl-ead-{nom du parent}-head) */
	font-weight : bold;
	font-size:120%;
	font-family:"Arial", "Helvetica", sans-serif;
	color:#013579;
	padding:0;
	background:#d0e9fc;
}
.pl-pgd-sect .pl-pgd-sect .pl-pgd-head {
	font-size:115%;
	margin:.8em 0 .6em 0;
	background:none;
	color:#013579;
	padding-left:0;
	border:none;
	border-bottom:1px solid #0093fc
}
.pl-pgd-sect .pl-pgd-sect .pl-pgd-sect .pl-pgd-head {
	font-size:110%;
	margin:.6em 0 .4em 0;
	background:none;
	color:#0093fc;
	padding-left:0;
	border:none
}
.pl-pgd-sect .pl-pgd-sect .pl-pgd-sect .pl-pgd-sect  .pl-pgd-head {
	font-size:105%;
	margin:.4em 0 .2em 0;
	background:none;
	color:#013579;
	padding-left:0;
	border:none
}

.pl-pgd-inline-label{ /* label d'un texte avec etiquette */
	/* font-weight : bold; */
	font-style : italic;
}

.pl-pgd-block-label{ /* label d'un bloc avec etiquette */
}
.pl-pgd-tooltip{ /*pour les info-bulles*/
	cursor : 	help;
}

div.pl-pgd-ancestors{ /*bloc des composants ancêtres*/
}

div.pl-pgd-children{ /*bloc des composants enfants*/
}

.pl-pgd-children .pl-ead-dsc{ /* regroupement dsc dans la liste des enfants */
}


/* ******************************************************************* */
/* ******************* pleade ead elements styling ******************* */
/* ******************************************************************* */


/* ******************************* */
/* ********* HEADERS ************* */
/* ******************************* */
div.pl-ead-eadheader{
}

table.pl-ead-eadid{ /* est également pl-pgd-fv */
	/*contient caption*/
}

table.pl-ead-revisiondesc{ /* est également pl-pgd-fv */
	/*contient caption*/
}

.pl-ead-titleproper{ /* déclaration générique mais plusieurs autres déclaration spécifiques */
}

/* ******************** FILEDESC ******************** */

table.pl-ead-filedesc{ /* est également pl-pgd-fv */
	/*contient caption*/
}

/* ***** debut titlestmt ***** */
tr.pl-ead-titlestmt th{ /* est également "pl-pgd-eadheader-subtitle" */
}

tr.pl-ead-titleproper th td ul li{
}

tr.pl-ead-subtitle th td ul li{
}

tr.pl-ead-author th td{
}

tr.pl-ead-sponsor th td{
}
/* ***** fin titlestmt ***** */


/* ***** debut editionstmt ***** */
/* structure particulière ici */
th.pl-ead-editionstmt{ /* est également "pl-pgd-eadheader-subtitle" */
}

/* ***** fin editionstmt ***** */


/* ***** debut publicationstmt ***** */
tr.pl-ead-publicationstmt{ /* est également "pl-pgd-eadheader-subtitle" */
}

tr.pl-ead-publisher th td{
}

tr.pl-ead-date th td{ /*FIXME : check*/
}

tr.pl-ead-address th td{
}

tr.pl-ead-num th td{
}

tr.pl-ead-p th td{
}
/* ***** fin publicationstmt ***** */


/* ***** debut seriesstmt ***** */
tr.pl-ead-seriesstmt th { /* est également "pl-pgd-eadheader-subtitle" */
}

tr.pl-ead-titleproper th td {
}

tr.pl-ead-num th td {
}

tr.pl-ead-p th td {
}
/* ***** fin seriesstmt ***** */


/* ***** debut notestmt ***** */
/* structure particulière ici */
tr.pl-ead-notestmt th { /* est également "pl-pgd-eadheader-subtitle" */
}

div.pl-ead-note{
}
/* ***** fin notestmt ***** */


/* ******************** PROFILEDESC ******************** */

table.pl-ead-profiledesc{ /* est également pl-pgd-fv */
	/*contient caption*/
}

tr.pl-ead-creation th td{
}

tr.pl-ead-langusage th td{
}

tr.pl-ead-descrules th td{
}

/* ******************** REVISIONDESC ******************** */
table.pl-ead-revisiondesc { /* est également pl-pgd-fv */
	/*contient caption*/
}

/*soit une <list> dans une seule cellule*/
tr.pl-ead-list td{
}

/*soit des <change> sur deux cellules avec date et item*/
tr.pl-ead-change {
}

th.pl-ead-date{
}

td.pl-ead-item{
}

td.pl-ead-item ul li{ /*si plusieurs item*/
}


/* ******************************* */
/* ******** FRONTMATTER ********** */
/* ******************************* */

div.pl-ead-frontmatter{
}

div.pl-ead-titlepage{
	text-align: center;
	font-size : 150%;
}

div.pl-ead-div{
}

div.pl-ead-titleproper {
}

/*tous les sous-élément du titlepage sont dans un bloc (div) pour être placés comme on veut sur la page de titre */
div.pl-pgd-titlepage-block .pl-ead-address {
	/*test*/
	font-size : 110%;
	color:coral;
	float:right;
}


/* ******************************* */
/* ********* COMPONENT *********** */
/* ******************************* */

.pl-ead-archdesc{
}

/* surcharge possible de pl-pgd-c via :
 - pl-ead-{nom de l'élément} : pl-ead-archdesc, pl-ead-c, pl-ead-c01, pl-ead-c02, pl-ead-c03, ...,  pl-ead-c012
 - pl-ead-att-level-{valeur de @level} : pl-ead-att-level-class, pl-ead-att-level-collection, pl-ead-att-level-file,..., pl-ead-att-level-subseries (cf dtd)
 - pl-ead-att-otherlevel{valeur @otherlevel} si attribut présent (@otherlevel est de type NMTOKEN)
 */


/*surcharge exemple*/
.pl-ead-archdesc{
	background-color : white;
}

.pl-ead-att-level-subseries	{
	/*background-color : LemonChiffon ;*/
}
/*fin surcharge exemple*/


.pl-ead-scopecontent{
	/*border: 1px solid gold;*/
	/* margin:1em; */
}

.pl-ead-dsc{
}



/* ********************************* */
/* ******* ARCHIVAL ELEMENTS ******* */
/* ********************************* */

.pl-ead-accessrestrict{
}

.pl-ead-accruals{
}

.pl-ead-acqinfo{
}

.pl-ead-altformavail{
}

.pl-ead-appraisal{
}

.pl-ead-arrangement{
}

.pl-ead-author{
}

.pl-ead-bibliography{
}

.pl-ead-bioghist{
}

.pl-ead-controlaccess{
}

.pl-ead-custodhist{
}

.pl-ead-descgrp{
}

.pl-ead-edition {
}

.pl-ead-fileplan{
}

.pl-ead-index{
}

.language{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-odd{
}

.pl-ead-originalsloc{
}

.pl-ead-otherfindaid{
}

.pl-ead-phystech{
}

.pl-ead-physfacet{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}
i
.pl-ead-prefercite{
}

/* non affiché
.pl-ead-processinfo{
} */

.pl-ead-relatedmaterial{
}

.pl-ead-separatedmaterial{
}

.pl-ead-userestrict{
}

.pl-ead-bibseries{
}

/* surcharge possible de pl-pgd-head via :  pl-ead-{nom du parent}-head */

table.pl-ead-did{
}

table.pl-ead-did caption{
}

table.pl-ead-did th{ /* nom du champ */
}

table.pl-ead-did td{ /* valeur du champ */
}

.pl-ead-list{
}

.pl-ead-list ul{
}

.pl-ead-list ol{
}

.pl-ead-list dl{
}

div.pl-ead-listhead{ /* listhead dans un contexte list */
}

.pl-ead-num{
}

.pl-ead-sponsor{
}

.pl-ead-subtitle{
}


table.pl-ead-chronlist{
}

table.pl-ead-chronlist td,
table.pl-ead-chronlist th,
table.pl-ead-chronlist .pl-tbl-th{
	vertical-align:top;
}

table.pl-ead-chronlist caption{
}

thead.pl-ead-listhead{ /* listhead dans un contexte chronlist */
}

thead.pl-ead-listhead th{ /* head01 ou head02 de listhead dans un contexte chronlist */
	/*text-align : center;
	color : LightSlateGrey; */
	background:#d0e9fc;
	color:#0093fc;
	font-size:110%;
	border:1px solid #82c9fc;
}

table.pl-ead-chronlist th{ /* cellule date */
}

table.pl-ead-chronlist td{ /* cellule item(s) */
}

td.pl-ead-eventgrp{
}

td.pl-ead-eventgrp ul{
}


.pl-ead-note{

}

.pl-ead-p{
	color:#555555;
}

.pl-ead-emph{
	font-style: italic;
}
/* surcharge possible de pl-ead-emph via pl-ead-att-render-{@render} */

.pl-ead-div{
}
.pl-ead-address{ /* possibilité texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-addressline{
}

blockquote	.pl-ead-blockquote{
}


.pl-ead-abbr{
	text-decoration : none;
	border-bottom: 1px dotted #005000;
	color : #005000;
}

.pl-ead-expan{
	text-decoration : none;
	border-bottom: 1px dotted #005000;
	color : #005000;
}

.pl-ead-imprint{	/* possibilité texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-legalstatus{
}

.pl-ead-publisher{
}

.pl-ead-title{ /*element d'indexation ??*/
}

/*	indexation elements 	*/

.pl-ead-corpname{
}

.pl-ead-famname{
}

.pl-ead-geogname{
}

.pl-ead-name{
}

.pl-ead-occupation{
}

.pl-ead-persname{
}

.pl-ead-subject{
}

.pl-ead-genreform{
}

.pl-ead-function{
}




.pl-ead-date{
}

.pl-ead-dimensions{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-extent{ /* toujours texte avec etiquette => enfant span.pl-pgd-inline-label */
}

.pl-ead-att-unit{
}

table.pl-ead-table{
	border : 2px solid #000000;
	margin-bottom : 10px;
	border-collapse : collapse;
	width : 90%;
	table-layout : fixed;
}

table.pl-ead-table caption{ /* lorsque <table> n'a qu'un enfant <tgroup> alors un seul tableau son label en <caption> */
}

p.pl-ead-table-head{ /* lorsque <table> a plusieurs enfant <tgroup> alors il y a 1 tableau par <tgroup>, pas de caption mais le label est affiché une seule fois dans un <p>  */
}

table.pl-ead-table tbody{ /* correspond a table/tgroup/tbody */
}

table.pl-ead-table thead{ /* correspond a table/tgroup/thead */
}

/*attention selecteur css ">" ne fonctionne pas sous IE, FIXME : classer le tr donc à moins qu'il y ait une autre syntaxe css*/
table.pl-ead-table tbody > tr { /* correspond a table/tgroup/tbody/row */
	border : 1px solid #000000;
}

table.pl-ead-table thead > tr { /* correspond a table/tgroup/thead/row */
	border : 1px solid #000000;
}

table.pl-ead-table th { /* correspond a table/tgroup/thead/row/entry */
	border : 1px solid #000000;
}

table.pl-ead-table td {/* correspond a table/tgroup/tbody/row/entry */
	border : 1px solid #000000;
}

table.pl-ead-tgroup{ /*contexte table + plusieurs tgroup => 1 table par tgroup*/
}

/** Ajouts de MS */
/* Pour avoir un ascenseur sur la table des matières */
#pl-pg-body-main-lcol {
  overflow-y: auto;
}
/* Pour avoir un ascenseur sur la colonne principale */
.pl-pgd #pl-pg-body-main-mcol {
	overflow-y: auto;
	padding:0;
}
.pl-pgd #pl-pg-body-main-lcol {
	width:100%;
}
.yui-skin-pleade .yui-layout-unit .yui-resize-handle-r {
    background:transparent url(../images/pg-vsep-hdl-bg.png) repeat-y scroll 0 0;
}
.pl-pgd #pl-pg-body-main-mcol {
	margin:0 0 0 0px;
}

/* Classe liée à l'ensemble du document EAD */
.pl-ead {
}

.pl-pgd-fv  {
	/* width: 95%; */
}
.pl-eac-tbl .label {
	border-right:1px solid #B1E1F0;
}

div.pl-pgd-ancestors ul {
	padding-left: 15px;
	padding-top:.2em;
	margin:0 0 0 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#f0f7fc
}
div.pl-pgd-ancestors ul ul {
	border-top:none;
	border-bottom:none;
	padding-top:0;
}
div.pl-ead-controlaccess-group {
	margin: 0.5em 0em 0em 0em;
}
span.pl-ead-controlaccess-group-header {
	color:#013579;
	font-weight: bold;
	margin-right: 10px;
}
p.pl-ead-head {
	color:#013579;
	font-weight: bold;
	font-size: 140%;
} 

/*
	@render = 	bold italic underline  boldunderline bolditalic
							bolddoublequote  boldsinglequote  boldsmcaps
							doublequote   nonproport  singlequote  smcaps  sub  super altrender
	=> singlequote  et doublequote  sont ajoutés par la xsl
*/
.pl-ead-att-render-bold {
	font-weight:bold;
}
.pl-ead-att-render-bolddoublequote {
	font-weight:bold;
}
.pl-ead-att-render-bolditalic {
	font-style:italic;
	font-weight:bold
}
.pl-ead-att-render-boldsinglequote {
	font-weight:bold;
}
.pl-ead-att-render-boldsmcaps {
	font-weight:bold;
	font-variant:small-caps;
}
.pl-ead-att-render-boldunderline {
	font-weight:bold;
	text-decoration:underline;
}
.pl-ead-att-render-italic {
	font-style:italic;
}
.pl-ead-att-render-nonproport {
	font-family:monospace;
}
.pl-ead-att-render-smcaps {
	font-variant:small-caps;
}
.pl-ead-att-render-underline {
	text-decoration:underline;
}

.pl-pgd-ancestors ul, .pl-pgd-children ul {
	list-style-image: none;
	list-style-type: none;
}

.pl-pgd-ancestors li {
	background:transparent url(../yui/assets/skins/pleade/treeview-sprite.gif) no-repeat scroll 0pt -1600px;
	padding-left:2em;
	margin-left:0
}
.pl-pgd-children li {
	background:transparent url(../yui/assets/skins/pleade/treeview-sprite.gif) no-repeat scroll 0pt -1600px;
	padding-left:2em;
	margin-left:0
}

#pl-pgd-index {
	padding-top: 20px;
}

span.pl-ead-pgd-index {
	/* border-bottom-style: dotted;
	border-bottom-color: #013579;
	border-bottom-width: 1pt; */
	/* text-decoration: underline; */
		/* color:#013579;
		font-weight: bold; */
}

/* Mise en forme des éléments multimédias */

/* Le daodesc/head, donc en légende de document numérique */
p.pl-pgd-medias-head {
	margin-top: 0pt;
	font-weight: bold;
	font-size: 105%;
}

/* Un tableau qui regroupe, sur deux colonnes, des documents numériques. */
table.pl-pgd-medias-daos {
	border: 1px dotted #B1E1F0;
	margin-top: 5pt;
	margin-bottom: 5pt;
}
table.pl-pgd-medias-daos td {
	background-color: #F0F7FC;
	padding: 10pt;
	margin: 3pt;
	text-align: center;
	border-color: white;
	border-width: 3pt;
	border-style: solid;
}

/* Le div qui contient la légende */
div.pl-pgd-medias-title {
	margin-top: 5pt;
}

/* Sommaire dans un archdesc */
div.pl-ead-archdesc-toc {
	margin-top: 10pt;
}
p.pl-ead-archdesc-toc-header {
	margin: 0pt;
	font-weight: bold;
}
ul.pl-ead-archdesc-toc {
	margin-top: 3pt;
}

/* Notice ISBD */
.pl-tbl-did-isbd .pl-pgd-inline-label {
	display : none;
}
span.pl-ead-odd-doc-hote {
	display : block;
}

/** Formulaire de recherche personnalisé */
.custom-search-form .pl-custom-form-submit{
	float: right;
	margin-top: 2px;
}

.custom-search-form .pl-form-txt{
	width:12em;
}

.custom-search-form .pl-form-slct{
	width:12em;
}

/** Entrée du treeview sélectionnée */
.currentTocEntry {
	background-color:yellow;
	color:black;
}

/**On n'affiche les infos utilisateurs dans la fenêtre EAD**/
div#userinfos {
	display:none;
}


/* Fenetre EAD - presentation tabulaire ! Attention IE6 ! */

table.pl-ead-did {
	border-collapse:collapse;
	table-layout:auto;
	width:100%;
}
.pl-ead .pl-pgd-fv th, .pl-ead .pl-pgd-fv .pl-tbl-th {
	padding:0.3em;
	text-align:left;
	vertical-align:top;
	width:30%;
}
div.pl-pgd-sect .pl-pgd-head {
	background:transparent none repeat scroll 0 0;
	color:#5F5141;
	float:left;
	font-family:"Arial","Helvetica",sans-serif;
	font-size:100%;
	font-weight:bold;
	margin:0.8em 0 0.2em;
	padding:0;
	width:29%;
}
div.pl-pgd-sect .pl-ead-p,
div.pl-pgd-sect .pl-ead-list,
div.pl-pgd-sect p,
div.pl-pgd-sect .pl-pgd-subsect {
	margin:1em 0 0.5em 30%;
}
.pl-ead .pl-pgd-fv tr {
	border:1px solid #D0E9FC;
}
div.pl-pgd-sect {
	border-top:1px dotted #B1E1F0;
	clear:left;
}

div.pl-pgd-sect caption.pl-pgd-head {
	float:none;
	width:auto;
}
div.pl-pgd-children .pl-pgd-head {
	display:none;
}
div.pl-pgd-sect div.pl-pgd-sect {
	border-top:medium none;
	margin:1em 0 0.5em 30%;
	clear:none;
}
div.pl-pgd-sect div.pl-pgd-sect .pl-pgd-head,
div.pl-pgd-sect div.pl-pgd-sect div.pl-pgd-sect,
div.pl-pgd-sect .pl-pgd-subsect .pl-pgd-head {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	color:#013579;
	/*display:inline;*/
	float:none;
	font-size:100%;
	padding-left:0;
	margin:1em 0 0.5em;
}
.pl-pgd-sect .pl-pgd-sect .pl-pgd-sect .pl-pgd-head {
	color:#6F6561;
	font-size:100%;
	margin:0.6em 0 0.4em;
	padding-left:0;
}
div.pl-pgd-sect div.pl-pgd-sect div.pl-pgd-sect,
div.pl-pgd-sect .pl-pgd-subsect .pl-ead-p {
	margin:1em 0 0.5em;
	display:block;
}
div.pl-pgd-sect div.pl-pgd-sect .pl-ead-p,
div.pl-pgd-sect div.pl-pgd-sect .pl-ead-p p,
div.pl-pgd-sect div.pl-pgd-sect .pl-ead-list,
div.pl-pgd-sect .pl-ead-list .pl-ead-list {
	margin:1em 0 0.5em;
}
div.pl-pgd-children {
	border-top:1px solid #B1E1F0;
	clear:both;
}
.pl-pg .pl-pg-body-tmenu ul {
  background: transparent;
} 
.pl-ead-list ul {
	padding:0 1em 1em 1em;
}
