/* $Id: module-eadeac.css 15929 2009-08-05 09:36:46Z mpichot $ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */
body {
  font-family:"Arial", "Helvetica", sans-serif;
  font-size:77%;
}

table {
  font-size:100%;
}

body.pl-pgd {
	background:#e7e7e7;
	padding: .7em .7em .7em .7em;
	margin:0 0 0 0;
	color:black;
}

/***************** Structure ***************/

#pl-pg-body {
}

.pl-pg-body-w-menu {
    background:#ffffff url(../images/bk-mcol.png) repeat-y;
}

.pl-pg-body-wo-menu {
    background:#ffffff;
}

.pl-pgd #pl-pg-body {
	background:#ffffff;
}
#pl-pg-header {
	background:#ffffff;
}
#pl-pg-body-top {
}
#pl-pg-body-main {
	clear:both;
	/* Requis pour le centrage vertical de l'animation de chargement */
	position:relative;
}
#pl-pg-body-main-lcol {
	float:left;
	width:190px;
	font-family:"Arial", "Helvetica", sans-serif;
	background:#f7f7f7;
}

#pl-pg-body-main-hdl {
	float:left;
	width:7px;
}

/*#pl-pg-body-main-mcol {
    padding:10px;
}*/

.pl-pg-body-main-mcol-w-menu {
    margin:0 0 0 200px;
    padding:0.5em;
}

.pl-pg-body-main-mcol-wo-menu {
    padding:0.5em; /*ajuster si mauvais affichage */
}


#pl-pg-body-bottom {
	clear:both;
}
/* Elements de base */
a, .tree_labels {
	cursor:pointer;
	color:#139edf;
	text-decoration:none;
}
a:hover {
	color:black;
	text-decoration:none;
}
.access {
	display:none;
}
form {
	margin:0;
	padding:0;
	display:table;
}
.top {
	vertical-align:top
}
h2 {
	background:#78cfec url(../images/title.png) repeat-x 0% -1261px;
	font-family:"Arial", "Helvetica", sans-serif;
	font-size:150%;
	color:#000;
	padding:.2em;
	border:1px solid #999999;
	font-weight:normal;
}
h3 {
	color:#fc5f00;
	padding-bottom:.2em;
	border-bottom:1px solid #999999
}
input {
	vertical-align: middle;
	font-size:.9em;
}
label,
label span {
	/* vertical-align: middle; */
	padding-top:.2em;
}

/* Habillage general */

.pl-pg-brdr-t { /* bordure top */
	background:#fff url(../images/pg.png) repeat-x 0% -20px;
	z-index:0;
	min-width:748px;
	height:12px;
	font-size:1px;
}
.pl-pg-tr {    /* bordure haut droit */
	background:url(../images/pg.png) no-repeat 0% -40px;
	height:12px;
	width:12px;
	float:right;
	margin:0 0 0 0;
	padding:0;
	z-index:1;
	font-size:1px;
}
.pl-pg-tl {    /* bordure haut gauche */
	background:#fff url(../images/pg.png) no-repeat 0% 0px;
	height:12px;
	width:12px;
	float:left;
	margin:0 0 0 0;
	padding:0;
	z-index:1;
	font-size:1px;
}
.pl-pg-brdr-l { /* bordure gauche */
	background:url(../images/pg-brdr-l.png) repeat-y;
	min-width:740px;
	padding:0 0 0 4px
}
.pl-pg-brdr-r { /* bordure droite */
	background:url(../images/pg-brdr-r.png) repeat-y 100% 0%;
	padding:0 4px 0 0;
	min-width:744px;
}
.pl-pg-brdr-b { /* bordure bas */
	background:url(../images/pg.png) repeat-x 0% 100%;
	height:10px;
	min-width:748px;
	font-size:1px;
}
.pl-pg-br {     /* bordure bas droite */
	background:url(../images/pg.png) no-repeat 0% -100px;
	height:10px;
	width:11px;
	float:right;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:100;
	clear:both;
	font-size:1px;
}
.pl-pg-bl {     /* bordure bas gauche */
	background:url(../images/pg.png) no-repeat 0% -60px;
	float:left;
	height:12px;
	width:12px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:100;
	font-size:1px;
}

/* Positionnement de la navigation header */

.pl-pg .pl-pg-body-tmenu {
	background: transparent;
	height:1.3em;;
	text-align:right;
}
.pl-pg .yui-skin-pleade .pl-pg-body-tmenu .yui-button {
	background: transparent;
}
.pl-pg .pl-pg-body-tmenu ul {
	margin:0;
	padding:0 1em 0 1em;
	height:1.8em;
	list-style:none;
	white-space:nowrap;
	background: #ffffff;
}
.pl-pg .pl-pg-body-tmenu ul li {
	display:inline;
	margin:0;
	padding:0 1em 0 1em;
}

/* Arriere plan du bandeau logo */
.pl-pg-logo-bg {
	background:url(../images/logo-bg.jpg) repeat-x;
	width:100%;
}
/* Logo du site  */
.pl-pg-logo {
	background:url(../images/logo.jpg) no-repeat;
	width:740px;
	height:98px;
}
.pl-pg-logo-bg h1 {
	position:absolute;
	font-size:400%;
	font-family:"Arial", "Helvetica", sans-serif;
	margin:.5em 0 0 125px;
}
/* Lien vers la page d'accueil */
.pl-pg-logo-bg h1 a {
	text-decoration:none;
	display:block;
	color:white;
	vertical-align:middle;
}
/* Arriere plan du bandeau logo EAD */
.pl-pg-context-bg {
	background:transparent url(../images/logo-ead-bg.png) repeat-x top left;
	margin:0;
	padding:0;
}
.pl-pg-context {
	background:transparent url(../images/logo-ead.png) no-repeat 0 50%;
	margin:0 0 0 26px
}
.pl-pg-context h1 {
	margin:0 0 0 30px;
	padding: .3em .3em .5em .3em;
	font-size:160%;
	color:#fff;
}
/* titre du document EAD  */
.pl-pg-logo-ead {
	background:transparent url(../images/logo-ead.png) no-repeat;
	width:auto;
	vertical-align: middle;
}
.pl-title-ead {
	margin:0;
	padding:0;
	border-top:1px solid #cecece;
	border-bottom:1px solid #cecece;
	background: #f2f2f2
}
.yui-skin-pleade .yui-navset .yui-content {
	border:1px solid #ccc;
}
.pl-title-ead .pl-title {
	vertical-align:middle;
	margin:3px 1px 3px 1px;
}
.pl-title-ead .pl-title h1 {
	font-weight:normal;
	font-family:"Arial", "Helvetica", sans-serif;
}
#pl-title-ead-index  {
	padding:0;
	margin-bottom:0px;
}
#pl-title-ead-index h1 {
	font-weight:normal;
	padding:.2em .5em;
	margin:0;
	font-family:"Arial", "Helvetica", sans-serif;
}
.pl-title-ead .pl-title-tr {
	background:url(../images/title.png) no-repeat 0% -100px;
	font-size:10px;
}
.pl-title-ead .pl-title-tl {
	background:url(../images/title.png) no-repeat 0% -120px
}
.pl-title-ead .pl-title-br {
	background:url(../images/title.png) no-repeat 0% -60px;
}
.pl-title-ead .pl-title-bl {
	background:url(../images/title.png) no-repeat 0% -160px;
}
/* Positionnement de la navigation top */
.pl-pg-body-hmenu {
	float:left;
	width:100%;
	line-height:normal;
	background:#e7e7e7 url(../images/pg-body-hmenu-bg.png) repeat-x 0% 100%;
	white-space:nowrap;
	padding:0 0 10px 0;
	border-bottom:1px solid #dedede
}
.pl-pg-body-hmenu ul {
	margin:0;
	padding:0 1em 0 5em;
	list-style:none;
	white-space:nowrap;
}
.pl-pg-body-hmenu ul li {
	background:#f3f3f3 url(../images/pg-body-hmenu-t-off.png) repeat-x  0 0;
	float:left;
	margin:3px 3px 0 0;
	padding:0 0 0 1px;
	border-left:1px solid #a2a2a2;
}
.pl-pg-body-hmenu ul a {
	background:#f3f3f3 url(../images/pg-body-hmenu-t-off.png) no-repeat 0 0;
	padding:5px 15px 4px 14px;
	display:block;
	color:#139edf;
	text-decoration:none;
	white-space:nowrap;
	border-right:1px solid #a2a2a2;
  width:.1em; /* necessaire a IE */
}
.pl-pg-body-hmenu > ul a { /* Corrige la regle width  pour ul a */
	width:auto;
}
.pl-pg-body-hmenu ul a:hover {
	color:black
}
.pl-pg-body-hmenu li.current {
	background:url(../images/pg-body-hmenu-t-on.png) no-repeat 0 0;
	border-left:none;
}
.pl-pg-body-hmenu li.current a {
	background:url(../images/pg-body-hmenu-t-on.png) no-repeat 100% 0;
	border-right:none;
	padding:5px 15px 5px 14px;
}
.pl-pg-body-hmenu li.current a:hover {
	color:#139edf;
}
.pl-pg-body-hmenu > ul a {
	width:auto;
}
/* Contenu */
.pl-bg {

}
/* Menu gauche */

/* Formulaire de recherche simple */
.pl-menu-frm-search-lbl {
	padding-left:10px;
}
.pl-menu-frm-search form {
	margin:0;
	padding:0;
}
.pl-menu-frm-search {
	padding: 5px 0 0 10px;
	white-space: nowrap
}
.pl-menu-frm-search .pl-npt-txt {
	font-family:"Arial", "Helvetica", sans-serif;
	width:130px;
	vertical-align:middle;
	background:white url(../images/pl-form-input-bg-off.png) repeat-x top left;
	border:1px solid #939393;
	padding:.1em .3em .3em .3em;
	font-size:1em
}
.pl-npt-txt:focus {
	background:white url(../images/pl-form-input-bg-on.png) repeat-x top left;
	border:1px solid #0C94D0;
}

.pl-menu-frm-search input.pl-npt-img {
	height:17px;
	width:17px;
	margin-left:.2em;
	vertical-align:middle;
}
.pl-pg-body-lmenu {
	padding:5px 0 0 0;
}
.pl-pg-body-lmenu span.pl-menu-item-txt {
	display:block;
	margin:0;
	padding:.5em 0 .5em 8px;
	list-style:none;
	font-weight: normal;
	font-size: 1em;
}
.pl-pg-body-lmenu span {
	display:block;
	margin:0;
	padding:.5em 0 .5em 0;
	list-style:none;
	font-weight:bold;
	font-size:1.1em;
}
.pl-pg-body-lmenu p {
	padding:.5em 0 .5em .5em;
	font-weight:bold;
}
.pl-pg-body-lmenu ul {
	margin:.5em 0 .5em 0;
	padding:0 0 0 0;
	list-style:none;
}
.pl-pg-body-lmenu ul ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
	background: #f9f9f9;
	border-top:1px solid #e7e7e7;
	border-left:1px solid #e7e7e7;
}
.pl-pg-body-lmenu ul ul ul{
	border-left:none;
	border-top:none;
}
.pl-pg-body-lmenu ul li {
	margin:0 0 0 0;
	padding:0 0 0 0;
	vertical-align:middle;
	border-bottom:1px solid #e7e7e7;
}
.pl-pg-body-lmenu ul li li {
	padding:0 0 0 1em;
	background:#f9f9f9;
	border-bottom:none;
}

.pl-pg-body-lmenu ul a {
	padding:7px 15px 7px 2.3em;
	display:block;
	text-decoration:none;
}
.pl-pg-body-lmenu ul .current a,
.pl-pg-body-lmenu ul .pl-menu-extended-current a,
.pl-pg-body-lmenu ul .pl-menu-collapsed-current a {
	color:#045cbb;
	font-weight:bold;
}
.pl-pg-body-lmenu ul .current li a,
.pl-pg-body-lmenu ul .pl-menu-extended-current li a,
.pl-pg-body-lmenu ul .pl-menu-collapsed-current li a {
	color:#139edf;
	font-weight:normal;
}
/* Puce Item */
.pl-pg-body-lmenu ul a.pl-menu-item,
.pl-pg-body-lmenu ul a.pl-smenu-item,
.pl-pg-body-lmenu ul a.pl-ssmenu-item {
	background:url(../images/lmenu-item.png) no-repeat 5px 5px;
}
.pl-pg-body-lmenu ul a:hover.pl-menu-item,
.pl-pg-body-lmenu ul li.current a.pl-menu-item,
.pl-pg-body-lmenu ul a:hover.pl-smenu-item,
.pl-pg-body-lmenu ul li.current a.pl-smenu-item,
.pl-pg-body-lmenu ul a:hover.pl-ssmenu-item {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -1015px;
}
.pl-pg-body-lmenu ul .pl-menu-extended a.pl-menu-item {
	background:url(../images/lmenu-item.png) no-repeat 5px -2035px;
}
.pl-pg-body-lmenu ul .pl-menu-extended a:hover.pl-menu-item,
.pl-pg-body-lmenu ul li.pl-menu-extended-current a.pl-menu-item,
.pl-pg-body-lmenu ul li.pl-menu-extended-current a.pl-smenu-item {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -3055px;
}
.pl-pg-body-lmenu .pl-menu-collapsed a.pl-menu-item,
.pl-pg-body-lmenu .pl-menu-collapsed a.pl-smenu-item,
.pl-pg-body-lmenu .pl-menu-collapsed a.pl-ssmenu-item {
	background:url(../images/lmenu-item.png) no-repeat 5px -4075px;
}
.pl-pg-body-lmenu .pl-menu-collapsed a:hover.pl-menu-item,
.pl-pg-body-lmenu .pl-menu-collapsed a:hover.pl-smenu-item,
.pl-pg-body-lmenu .pl-menu-collapsed a:hover.pl-ssmenu-item {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -5095px;
}
/* Puce recherche */
.pl-pg-body-lmenu ul a.pl-menu-search,
.pl-pg-body-lmenu ul a.pl-smenu-search,
.pl-pg-body-lmenu ul a.pl-ssmenu-search {
	background:url(../images/lmenu-item.png) no-repeat 5px -6115px;
}
.pl-pg-body-lmenu ul a:hover.pl-menu-search,
.pl-pg-body-lmenu ul li.current a.pl-menu-search,
.pl-pg-body-lmenu ul a:hover.pl-smenu-search,
.pl-pg-body-lmenu ul li.current a.pl-smenu-search,
.pl-pg-body-lmenu ul a:hover.pl-ssmenu-search {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -7135px;
}
.pl-pg-body-lmenu ul .pl-menu-extended a.pl-menu-search {
	background:url(../images/lmenu-item.png) no-repeat 5px -8155px;
}
.pl-pg-body-lmenu ul .pl-menu-extended a:hover.pl-menu-search,
.pl-pg-body-lmenu ul li.pl-menu-extended-current a.pl-menu-search,
.pl-pg-body-lmenu ul li.pl-menu-extended-current a.pl-smenu-search {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -9175px;
}
.pl-pg-body-lmenu .pl-menu-collapsed a.pl-menu-search,
.pl-pg-body-lmenu .pl-menu-collapsed a.pl-smenu-search,
.pl-pg-body-lmenu .pl-menu-collapsed a.pl-ssmenu-search {
	background:url(../images/lmenu-item.png) no-repeat 5px -10195px;
}
.pl-pg-body-lmenu .pl-menu-collapsed a:hover.pl-menu-search,
.pl-pg-body-lmenu .pl-menu-collapsed a:hover.pl-smenu-search,
.pl-pg-body-lmenu .pl-menu-collapsed a:hover.pl-ssmenu-search {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -11215px;
}
/* Puce panier */
.pl-pg-body-lmenu ul a.pl-menu-basket {
	background:url(../images/lmenu-item.png) no-repeat 5px -12235px;
}
.pl-pg-body-lmenu ul a:hover.pl-menu-basket,
.pl-pg-body-lmenu ul li.current a.pl-menu-basket {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -13255px;
}

#pl-basket-warning{
	text-align:center;
	margin-top:.2em;
}

/* Puce historique */
.pl-pg-body-lmenu ul a.pl-menu-histo {
	background:url(../images/lmenu-item.png) no-repeat 5px -14275px;
}
.pl-pg-body-lmenu ul a:hover.pl-menu-histo,
.pl-pg-body-lmenu ul li.current a.pl-menu-histo {
	background:#dedede url(../images/lmenu-item.png) no-repeat 5px -15295px;
}
/* Handle */
.pl-pg-vsep-hdl-bg {
	vertical-align: middle;
	text-align:center;
}
.pl-pgd .pl-pg-vsep-hdl-bg {
	background:url(../images/pg-vsep-hdl-bg.png) repeat-y;
}
.pl-pg-vsep-hdl {
	height:350px;
	vertical-align: middle;
}
.pl-pgd .pl-pg-vsep-hdl {
	height:350px;
	vertical-align: middle;
}
/* Informations de bas de page */
.pl-pg-body-bottom-bg {
	background:url(../images/pg.png) repeat-x 0 -120px;
	height:42px;
	clear:both;
	min-width:740px;
	vertical-align:middle;
	text-align:center;
	font-family:"Arial", "Helvetica", sans-serif;
}
.pl-pg-body-bottom-info {
	padding:.5em 0;
}
.pl-pg-body-bottom-info img {
	vertical-align:middle;
	border:0
}

/* Main */

/* titre avec tableau */
 table.pl-box{
	width:100%;
 }

 .pl-box-title{
	 width:80%;
 }

 .pl-box-title-button{
	 text-align:right;
	 padding:0 1em 0 0;
	 white-space:nowrap;
 }


/* Titre h1 d'une page */
.pl-title {
	margin:0 0 1em 0;
}

.pl-title-brdr-t {
	background:#78cfec url(../images/title.png) repeat-x 0% -1280px;
	clear:right;
	height:5px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1px;
}
.pl-title-tl {
	background:url(../images/title.png) no-repeat 0% 0%;
	height:5px;
	width:5px;
	float:left;
	font-size:1px;
}
.pl-title-tr {
	background:url(../images/title.png) no-repeat 0% -20px;
	height:5px;
	width:5px;
	float:right;
	font-size:10px;
}
.pl-title-brdr-l {
	background:url(../images/title-brdr-l.png) repeat-y;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.pl-title-brdr-r {
	background:url(../images/title-brdr-r.png) repeat-y 100% 0%;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.pl-title-main {
	background:#78cfec url(../images/title.png) repeat-x 0% -180px;
	margin:0;
	padding:0;
}
.pl-title h1 {
	color:black;
	font-weight:normal;
	font-family:"Arial", "Helvetica", sans-serif;
	background:transparent none repeat scroll 0%;
	font-size:170%;
	margin:0 0 0 0;
	padding:0 .5em;
}
.pl-title-bl {
	background:url(../images/title.png) no-repeat 0% -40px;
	height:5px;
	width:5px;
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1px;
}
.pl-title-br {
	background:url(../images/title.png) no-repeat 0% -60px;
	height:5px;
	width:5px;
	float:right;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1px;
}
.pl-title-brdr-b {
	background:#78cfec url(../images/title.png) repeat-x 0% -80px;
	height:5px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1px;
}

/* Un formulaire avec coins arrondis */
.pl-form-box {
	font-family:"Arial", "Helvetica", sans-serif;
}
.pl-form {
	background:#edf2f4;
	font-family:"Arial", "Helvetica", sans-serif;
}
.pl-form-ead-admin {
	background:#DDF3FA none repeat scroll 0%;
	border: 1px solid #B7B7B7;
	padding:1.5em 0.5em 1em 1em;
	display:table;
}

.pl-form fieldset {
	margin:0 0 0 0;
	border:1px solid #c7c6c6;
}
.pl-form legend {
	color:#003dac;
	font-weight:bold;
}

.pl-form-ead-admin form{
	width:100%;
}

.pl-form-ead-admin fieldset {
	background:#FAFDFD none repeat scroll 0%;
	margin:0 1.8em 1em 0;
}
.pl-form-brdr-t {
	background:url(../images/pl-form-brdr.png) repeat-x 0% 0%;
	height:17px
}
.pl-form-brdr-tr {
	background:url(../images/pl-form-brdr.png) no-repeat 0% -20px;
	float:right;
	height:17px;
	width:17px
}
.pl-form-brdr-tl {
	background:url(../images/pl-form-brdr.png) no-repeat 0% -40px;
	height:17px;
	width:17px;
	float: left;
}
.pl-form-brdr-b {
	background:url(../images/pl-form-brdr.png) repeat-x 0% -60px;
	height:17px
}
.pl-form-brdr-br {
	background:url(../images/pl-form-brdr.png) no-repeat 0% -80px;
	float:right;
	height:17px;
	width:17px
}
.pl-form-brdr-bl {
	background:url(../images/pl-form-brdr.png) no-repeat 0% -100px;
	height:17px;
	width:17px;
	float: left;
}
.pl-form-brdr-l {
	background:url(../images/pl-form-brdr-l.png) repeat-y 0% 100%;
}
.pl-form-brdr-r {
	background:url(../images/pl-form-brdr-r.png) repeat-y 100% 0%;
}
.pl-form-main {
	border:1px solid #b8cbd4;
	margin:0 2em 0 2em;
	padding:1em;
	text-align:left;
	vertical-align:middle;
}
.pl-form-submit {
	text-align:center;
	padding:.5em 0 1em 0;
	vertical-align:middle;
}
td.pl-form-submit {
	white-space: nowrap;
	padding:.1em 0;
}
.pl-form-suggest-value {
	margin:0;
}
                                                 
.pl-form-suggest-value a,
.pl-form-select-value a{
	padding-left:17px;
	background: url(../images/pl-form-delete.png) 0 2px no-repeat;
	color:black;
	/* line-height:1.5; */
	display:block;
}
.pl-form-suggest-values {
	margin:0px;
}

.pl-form-select-value {
	margin:0;
}

.pl-form-select-values {
	margin:0px;
}

/* Inputs dans un formulaire */
.pl-npt-txt {
	background:white url(../images/pl-form-input-bg-off.png) repeat-x top left;
	border:1px solid #939393;
	padding:.1em .3em .3em .3em;
	vertical-align:middle;
}
.pl-form-txt {
	background:white url(../images/pl-form-input-bg-off.png) repeat-x top left;
	border:1px solid #939393;
	padding:.1em .3em .3em .3em;
	vertical-align:middle;
	width:25em;
}
.pl-form-txt:focus {
	background:white url(../images/pl-form-input-bg-on.png) repeat-x top left;
	border:1px solid #0C94D0;
}
.pl-form-srch {
	background:white url(../images/pl-form-input-bg-off.png) repeat-x top left;
	border:1px solid #939393;
	padding:.1em .3em .3em .3em;
	width:10em;
}
.pl-form-srch:focus {
	background:white url(../images/pl-form-input-bg-on.png) repeat-x top left;
	border:1px solid #0C94D0;
}
.pl-form-date {
	background:white url(../images/pl-form-input-bg-off.png) repeat-x top left;
	border:1px solid #939393;
	padding:.1em .3em .3em .3em;
	width:4em;
}
.pl-form-date:focus {
	background:white url(../images/pl-form-input-bg-on.png) repeat-x top left;
	border:1px solid #0C94D0;
}
.pl-form-slct {
	background:white url(../images/pl-form-input-bg-off.png) repeat-x top left;
	border:1px solid #939393;
	padding:.1em .3em .3em .3em;
	width:25em;
	font-size:90%;
}
.pl-form-slct option {
	background:transparent;
}
.pl-form-slct:focus {
	background:white url(../images/pl-form-input-bg-on.png) repeat-x top left;
	border:1px solid #0C94D0;
}
.pl-form-slct-ec {
	background:white url(../images/pl-form-input-bg-off.png) repeat-x top left;
	border:1px solid #939393;
	padding:.1em .3em .3em .3em;
	width:20em;
}
.pl-form-slct-ec option {
	background:transparent;
}
.pl-form-slct-ec:focus {
	background:white url(../images/pl-form-input-bg-on.png) repeat-x top left;
	border:1px solid #0C94D0;
}
/*operateurs intra-champ*/
.pl-form-ops{
	color:#003dac;
	white-space:nowrap;
	margin-bottom:5px;
}

.pl-form-help {
	vertical-align:top;
	float:right;
	margin-right:0.5em;
}
.pl-form-help .pl-help-img {
	width:18px;
	height:18px;
	vertical-align:top;
	text-align:right;
	background:transparent url(../images/icones.png) no-repeat 0% -100px;
	cursor:help;
	border:none;
}
.pl-form-help:hover  img {
	text-decoration:none;
	cursor:help;
}
/* .pl-pg-help .pl-pg-body-menu-box,
#pl-pg-header {
	display:none;
} */
/*Mise en evidence des erreurs de saisie*/

.pl-form-error, .pl-form-error:focus{
 border:1px solid red;
 color : red;
}

/* conteneur spécifique */

.pl-form-intro{
    padding:.5em;
}

p.pl-form-outro{
    padding:.2em .5em .3em .5em;
}

p.pl-form-cdcall-intro{
}

.pl-form-message{
}

.pl-form-errors{
	 margin-top:7px;
	 margin-left:20px;
	 text-align:left;
	 color:red;
}

.pl-form-infos{
}
.pl-ead-publish-result-summary td,
.pl-ead-publish-result-summary th {
	padding: 0 1em 0.5em 0;
}
.pl-lui-doc-added td {
	border: 1px solid black;
}
.pl-lui-doc-added th {
	text-align: center;
	border: 1px solid black;
}
.pl-lui th {
	text-align: right;
	padding-right: 1em;
	width: 15em;
	vertical-align: top;
}
.pl-lui-doc-added th {
	text-align: left;
}
.pl-lui th.pl-lui-doc-added-rank {
	width: 1%;
}
/* Button */
button {
	color:#0044B1;
	font-size:90%;
	white-space:nowrap;
	vertical-align:middle;
	font-weight:bold;
	background: none;
	padding: 0 0 0 0;
	margin:0 0 0 0;
	text-decoration: none;
	text-shadow:none;
	border:none;
}
button:hover {
	color:#000000;
	font-weight:bold;
	background: none;
	text-decoration: none
}
.pl-form-submit div {
	display:inline;
}
.pl-form-submit div.pl-form-message{
	display:block;
}

.pl-form-submit div .pl-form-search-submit {
	text-decoration: none;
	text-shadow:white .1em .1em .3em;
	color:#0044B1;
	font-size:90%;
	white-space:nowrap;
	vertical-align:middle;
	font-weight:bold;
	padding:.2em;
	border:none;
}
a.pl-bttn-index {
	background: transparent url(../images/icones.png) no-repeat 0 -120px;
	height:21px;
	width:21px;
	display:block;
	border:none;
	padding:.3em
}
a.pl-bttn-indx:hover {
	background: transparent url(../images/icones.png) no-repeat 0 -160px;
}

.pl-form-submit div .pl-form-search-submit:hover {
	 /*color:#000;*/
}
.pl-form-bttn-thsrs {
	background:transparent url(../images/icones.png) no-repeat 0% -160px;
	width:21px;
	height:21px;
	text-indent:25px;
	padding:0;
	margin:0;
	border:none;
}
.pl-form-bttn-thsrs:hover{
	background:white url(../images/icones.png) no-repeat 0% -120px;
}
/* Un boite pour un thesaurus ou un index */
.pl-form-thsrs {
	border:1px solid #d9d9d9;
	padding:0;
	background:#f5f5f5;
	overflow: hidden;
}
.pl-form-thsrs h3 {
	font-size:110%;
	background:#75ceec url(../images/title.png) repeat-x 0% 100%;
	border: 1px solid #ffffff;
	padding:.3em;
	margin:0;
}
.pl-form-separation {
	padding:.5em 1em .5em 1em;
	border-bottom:1px solid #d9d9d9;
	background:#f7f7f7
}
.pl-form-thsrs .ygtvlabel {
	text-decoration:none;
	color:#139edf;
}
.pl-form-thsrs .ygtvlabel:hover {
	text-decoration:underline;
	color:#000000;
	font-weight:bold;
}

.pl-form-label {
	color:#003dac;
	text-align:right;
	padding:.3em 1em 0 .5em;
}

span.pl-form-operators{
	white-space:nowrap;
}

span.pl-input-label{
	white-space:nowrap;
}

/* Résultats de recherche TODO: cleanup!*/
.document-results .ygtvitem table {
	width:100%;
	padding:0;
	vertical-align:top;
	border:0px none;
	border-collapse:separate;
	margin-bottom:0px;
}
.document-results .ygtvitem td {
	/* padding:0; */
	padding:0px 0px 0px 0px;
	vertical-align:top;
}
.document-results .ygtvtp td {
	padding:0;
}
.ygtvlabel table,
.ygtvitem table {
	border-top:0px;
}

.ygtvitem table {
	width:100%;
	text-align: left;
}
/* .document-results .ygtvitem td {
	padding:0px 0px 0px 0px;
} */

/* bouton fermer */

.yui-panel .container-close {
	background:transparent url(../images/close.png) no-repeat;
}
.pl-form-close,
.pl-rslts .close,
.div-eac-doc .close,
.document-results-close {
	float:right;
	margin:.5em .5em 0;
	padding:0;
}

.pl-form-close a,
.pl-rslts .close a,
.div-eac-doc .close a,
.document-results-close a {;
	background:transparent url(../images/close.png) no-repeat 0 0;
	text-decoration: none
}
.pl-form-close a:hover,
.document-results-close a:hover {
	background:transparent url(../images/close.png) no-repeat 0 0;
	text-decoration: none
}

.document-results div.ygtvitem table:hover {
	background:#ffffff;
}

.document-results table:hover  {
	/* background:#cdedf8; */
}
.tools {
	width:19px;
}
.document-results a {
	padding:0 0.5em;
	text-decoration:none;;
	margin-left: 0px;
}
.document-results a:hover {
	color:#0044B1;
}
.document-results a:visited {
	color:#0044B1;
	text-decoration:none;
}
/* ************** Résultats en liste ************************** */
.pl-list-results {
	list-style-type: none;
	margin:0;
	padding : .3em;
}
.pl-list-results li {
	list-style-type: none;
}

.ImgNum a {
	width:17px;
	height:17px;
	background: transparent url(../images/lmenu-item.png) no-repeat 5px -7135px;
	display:block;
}
.panier a {
	width:17px;
	height:17px;
	background: transparent url(../images/lmenu-item.png) no-repeat 5px -13255px;
	display:block;
}
.fiche a {
	width:17px;
	height:17px;
	background: transparent url(../images/lmenu-item.png) no-repeat 5px -14275px;
	display:block;
}
.yui-skin-pleade .yui-button button, .yui-skin-pleade .yui-button a {
	font-size:90%;
	padding:0 10px;
	overflow:visible;
	width:auto;
}
.yui-skin-pleade .pl-tbl-ead-admin .yui-button button, 
.yui-skin-pleade .pl-tbl-ead-admin .yui-button a {
	padding:0 5px;
}
.pl-tbl-ead-admin th,
td.pl-tbl-ead-admin-actions{
	white-space: nowrap;
}
a.pl-tbl-order-asc {
	display:inline-block;
	width:10px;
	height:10px;
	overflow:hidden;
	background: transparent url(../images/sprite.png) no-repeat -15px -855px;
}
a.pl-tbl-order-asc:hover {
	background: transparent url(../images/sprite.png) no-repeat -15px -880px;
}a.pl-tbl-order-desc {
	display:inline-block;
	width:10px;
	height:10px;
	overflow:hidden;
	background: transparent url(../images/sprite.png) no-repeat -10px -955px;
	padding-right:15px;
}
a.pl-tbl-order-desc:hover {
	background: transparent url(../images/sprite.png) no-repeat -10px -980px;
}
span.bskt-bttn button {
	padding:.2em;
}
.pl-bskt-bttn-doc {
	background:url(../images/icones.png) no-repeat 0 -360px;
	height:20px;
	width:26px;
	margin-right:.5em;
}
.pl-bskt-bttn-doc:hover {
	background:url(../images/icones.png) no-repeat 0 -380px;
	cursor : pointer;
}

.pl-bskt-bttn-doc.disabled {
	background:url(../images/icones.png) no-repeat 0 -400px;
	cursor:default;
}
#pl-pg-body-tool-box .pl-bskt-bttn-doc.disabled { /*sinon surcharger par règle #pl-pg-body-tool-box button */
	cursor:default;
}

.pl-bskt-bttn-results {
	background:url(../images/icones.png) no-repeat 0 -420px;
	height:20px;
	width:36px;
	margin-right:.5em;
}
.pl-bskt-bttn-results:hover {
	background:url(../images/icones.png) no-repeat 0 -440px;
	cursor:pointer;
}
.pl-bskt-bttn-results.disabled {
	background:url(../images/icones.png) no-repeat 0 -460px;
	cursor:default;
}
.pl-bskt-bttn-page {
	background:url(../images/icones.png) no-repeat 0 -480px;
	height:20px;
	width:36px;
	margin-right:.5em;
}
.pl-bskt-bttn-page:hover {
	background:url(../images/icones.png) no-repeat 0 -500px;
	cursor:pointer;
}
.pl-bskt-bttn-page.disabled {
	background:url(../images/icones.png) no-repeat 0 -520px;
	cursor:default;
}

button.pl-pdf-bttn-doc,
button.pl-pdf-bttn-doch {
	height:20px;
	width:36px;
	margin-right:.5em;
}
.yui-skin-pleade .pl-box-title-button .yui-button {
	font-size:100%;
}
.pl-pdf-bttn-doc {
	background:url(../images/icones.png) no-repeat 0 -540px;
}
.pl-pdf-bttn-doc:hover {
	background:url(../images/icones.png) no-repeat 0 -560px;
}
.pl-pdf-bttn-doch {
	background:url(../images/icones.png) no-repeat 0 -580px;
}
.pl-pdf-bttn-doch:hover {
	background:url(../images/icones.png) no-repeat 0 -600px;
}

.pl-bskt-bttn-loading{
  background:transparent url(../images/pnl-loading.gif) no-repeat;
}
.pl-bskt-bttn-loading:hover{
  background:url(../images/pnl-loading.gif) no-repeat;
}
.pl-loading{
  background:transparent url(../images/pnl-loading.gif) no-repeat 2px -2px;
	padding-left:20px;
}
.pl-loading:hover{
  background:transparent url(../images/pnl-loading.gif) no-repeat 2px -2px;
}
.fiche a:hover {
	background: transparent url(../images/lmenu-item.png) no-repeat 5px -15295px;
}
.ImgNum a:hover {
	background: transparent url(../images/lmenu-item.png) no-repeat 5px -6115px;
}

.panier a:hover {
	background: transparent url(../images/lmenu-item.png) no-repeat 5px -12235px;
}
.fiche {
	vertical-align:top;
}
.ImgNum {
	vertical-align:top;
}

.panier {
	vertical-align:top;
	padding:0 .2em 0 0;
}
.document-results .cote {
	width:6em;
	padding:.2em;
	font-weight:bold;
	vertical-align:top;
}
.document-results .date {
	vertical-align:top;
	padding:.2em;
	width:8em;
}
div.document-results {
	border:5px solid #b3e4f4;
	background: #f5f9fb;
}
.pl-pgd div.document-results {
	border:none;
	background: #fff;
}
.document-results a.voir {
	color:#ff6600;
	font-weight:bold;
	background: #e3f7ff;
	padding-left:.3em;
	display:block;
	border:1px solid #0083ff
}
.document-results a:hover.voir {
	color:#000000;
}
.voirResultats {
	padding-left:14px;
	color:#0044B1;
	text-decoration: none;
}
.icon-doc .voirResultats {
	padding-left:14px;
	background: url(../images/icones.png) no-repeat 0% -220px;
	color:#ff6600;
	text-decoration: none;
}
.document-results .icon-doc  a:hover .voirResultats{
	background: url(../images/icones.png) no-repeat 0% -200px;
	color:#000000;
	text-decoration: none;
	font-weight:bold;
}
.document-results a:hover .voirResultats {
	color:#000000;
	text-decoration: none;
	font-weight:bold;
}
.navigation-results {
	font-size:100%;
	background:#75ceec url(../images/title.png) repeat-x 0% 100%;
	border: 1px solid #ffffff;
}
.bottom .navigation-results p {
	padding:.6em .3em .6em .3em;
	margin:0 0 0 0;
}
.bottom .navigation-results {
	font-size:100%;
	background:#75ceec url(../images/title.png) repeat-x 0% -1280px;
}
.navigation-results {
	font-size:100%;
	background:#75ceec url(../images/title.png) repeat-x 0% 100%;
	border: 1px solid #ffffff;
}
.navigation-results p {
	padding:0.6em 0;
	margin:0 0 0 0;
}
.yui-panel .bd .navigation-results p {
	margin:0;
}
.pl-pg-terms-container-unitid {
	margin-bottom:1em;
}
.pl-nvbbtn-dsbld{
  visibility: hidden;
}
.nbresults {
	font-weight:bold;
	background:url(../images/module-eadeac/separateur.png) no-repeat 100% 0%;
	padding:.2em 1em .2em 1em;
}
.nbpages {
	background:url(../images/module-eadeac/separateur.png) no-repeat 100% 0%;
	padding:.1em 1em .2em 1em;
}
.navpage {
	font-weight:bold;
	background:url(../images/module-eadeac/separateur.png) no-repeat 100% 0%;
	padding:.2em 1em .2em 1em;
}
.yui-panel-container .navpage {
	display:block;
}
.navpage a,
.document-results .navpage a,
.results .navpage a {
	color:#0044B1;
	font-weight:bold;
	background: transparent url(../images/title.png) repeat-x 0% -1290px;
	padding: 0 .2em;
	border: 1px solid #0C94D0;
	text-decoration: none;
	margin-right:0;
}
.navpage span {
	padding-right:.3em
}
.navpage a:hover,
.document-results .navpage a:hover,
.results .navpage a:hover {
	color:#000000;
	font-weight:bold;
	background: transparent url(../images/title.png) repeat-x 0% 100%;
	text-decoration: none
}

.navpage span.yui-pg-last,
.navpage span.yui-pg-next,
.navpage span.yui-pg-first,
.navpage span.yui-pg-previous{
	display:none;
}


.yui-navset li img {
	border:none;
	padding:.2em
}

/* Les règles suivantes concernent la présentation d'un cadre de classement,
	avec ou sans résultats. */

/* Un tableau dans un item */
div.ygtvitem table:hover {
	background: #e7e7e7;
}

/* Le span qui permet d'en savoir plus */
span.moreinfo a {
	padding-left: 14px;
	background: url(../images/module-eadeac/cdc-moreinfo.png) no-repeat ;
	color: #0044B1;
	text-decoration: none;
}
span.moreinfo a:hover {
	background: url(../images/module-eadeac/cdc-moreinfo-hover.png) no-repeat ;
	color: #000000;
	text-decoration: none;
}
span.lessinfo a {
	padding:0 16px 0 3px;
	background: white url(../images/module-eadeac/cdc-lessinfo.png) no-repeat right 2px;
	color: #0044B1;
	text-decoration: none;
	border:1px solid #75ceec
}
span.lessinfo a:hover {
	background: white url(../images/module-eadeac/cdc-lessinfo-hover.png) no-repeat right 2px;
	color: #000000;
	text-decoration: none;
}
/* Le bloc contenant les infos supplementaires */
.pl-cdc-moreinfo p.pl-ead-p,
.pl-cdc-moreinfo p.pl-pgd-head {
	display:inline;
}
div.pl-cdc-moreinfo p.pl-pgd-head {
	font-weight:normal;
	text-decoration:none;
	font-style:italic;
}
.cdc-moreinfo-td {
	text-align: right;
	white-space: nowrap;

}
.cdc-unitdate {
	font-style: italic;
	color:#555555;
	padding: 0 0.5em;
}
.cdc-unitid {
	color:#555555;
	padding: 0 0.5em;
}
.cdc-nbresults {
	padding: 0 0 0 1em;
	color:#555555;
	font-weight:bold;
	/*font-family:"Arial", "Helvetica", sans-serif;*/
}
.cdc-document .cdc-title,
.cdc-document .cdc-document .cdc-title{
	background:none;
	padding:0;
}
.cdc-document .cdc-entry .cdc-title {
	background:none;;
	padding-left:0;
}
.show-results a {
	background:transparent url(../images/title.png) repeat-x 0% 100%;
	border:1px solid #0C94D0;
	color:#0044B1;
	padding:0.1em 0.1em 0.05em 0.1em;
	text-decoration:none;
	font-family:"Arial", "Helvetica", sans-serif;
	white-space: nowrap;
}
.show-results a:hover {
	color:#000000;
	background: transparent url(../images/title.png) repeat-x 0% 100%;
	text-decoration: none
}
div.navigation-results {
	background:#75CEEC url(../images/title.png) repeat-x 0% 100%;
	border:1px solid #FFFFFF;
	font-size:100%;
}
.rslts-cnt div.results,
.resultats div.results {
	background:#75CEEC url(../images/title.png) repeat-x scroll 0% 100%;
	border:1px solid #FFFFFF;
	font-size:100%;
	margin:.5em 0;
}
.rslts-cnt div.results p,
.resultats div.results p {
	padding:0.3em 0;
	margin:0;
}
/* .icon-doc .voirResultats {
	padding-left:14px;
	background: url(../images/icones.png) no-repeat 0% -220px;
	color:#ff6600;
	text-decoration: none;
}
.document-results .icon-doc  a:hover .voirResultats{
	background: url(../images/icones.png) no-repeat 0% -200px;
	color:#000000;
	text-decoration: none;
	font-weight:bold;
}

 */

 /*********** Résultats de recherche ***************/

#pl-results-criteria {
    background:#E2F4FB;
    padding:.5em;
    margin:0 0 0 0;
    color:#555;
		border:1px solid #75ceec;
}

span.pl-results-criteria-intro {
    font-weight:bold;
    color:#000;
}

span.pl-result-criteria-field {
    color:#555;
}

span.pl-result-criteria-query{
    color:#000;
}

span.pl-result-criteria-cop {
    color:#0042B0;
    font-style:italic;
}

.pl-results-count{
	padding:.5em;
	background:#e7e7e7;
	margin:0 0 .5em;
}

 /*********** Cadre de classement ***************/

.ygtvitem table.cdc-exit {
	 border:1px solid #68b7d2;
	 background: #f0f7fc;
}
.ygtvitem table:hover.cdc-exit {
	 border:1px solid #013579;
	 background: #f0f7fc;
}
.ygtvitem table.cdc-exit div.pl-pgd-ancestors,
.ygtvitem table.cdc-exit .pl-pgd-c,
.ygtvitem table.cdc-exit .pl-pgd-head,
.ygtvitem table.cdc-exit .pl-ead-p{
	padding:0 0 0 0;
	margin:.2em 0 .3em 0;
}

/***** Gestion des contenus *****/
.subset_summary {
	margin-left : 1em;
}
.pl-subset-zone h2 {
}
.pl-subset-zone {
	margin:1em 0;
}
.pl-subset-documents-link {
	margin-bottom : 1em;
}
.pl-subset-form-link {
}
.pl-subset-form-link a {
}
.pl-subset-form-link a:hover {
}
.pl-subset-in-page .list-documents {
	margin:1em 0;
}
.pl-subset-in-page .search-top-docs {
	background-color:#DEDEDE;
	height:auto;
	margin-left:2pt;
	margin-bottom : 3pt;
	margin-top : 3pt;
	padding: 4pt;
}
.pl-subset-in-page .search-top-docs a {
	color:#336699;
	font-family:Arial;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
}

/***** Gestion des contenus *****/


fieldset {
	background:#fafdfd;
	margin:0 1.8em 1em 0;
	border:1px solid #a0d9ec;
	text-align:left;
	padding:.5em
}
legend {
	display:block;
	color:#003dac;
	font-weight:bold;
}

#ead-publish-box .pl-form-help {
	float:right;
	margin:1.5em 0 0 0;
}
#ead-publish-box table {
	width:100%;
	vertical-align: middle
}
#ead-publish-box td {
	padding:.3em;
	vertical-align: top;
}

#ead-publish-box .pl-form-label {
	color:#003DAC;
	padding:0.3em 1em 0pt 0.5em;
	text-align:right;
	width:20%
}
#ead-publish-form .yui-navset {
	border-bottom:none;
}
#docs fieldset input,
#docs fieldset select {
	margin-left:0;
}
/* Surcharge de button.css pour les boutons de la fenêtre IR */
.pl-pg-body-menu-box {
	position:absolute;
	right:35px;
	text-align:right;
	top:30px;
	width:100px;
	margin:0;
	padding:0;
}
.yui-skin-pleade .pl-pg-body-menu-box .yui-button {
	background: transparent;
}
.pl-pg-body-menu-box .yui-button button, .pl-pg-body-menu-box .yui-button a {
	border:none;
	line-height:inherit;
	min-height:inherit;
	padding:0;
}
.pl-pg-body-menu-box .yui-button .first-child {
	border-style:none;
}
.pl-pg-body-menu-box .yui-button {
	border-style:none;
}
.yui-skin-pleade .pl-box-title-button .yui-button {
	margin:0 0.5em;
}
.pl-form-bttn-container {
	text-align:right;
	margin:1em 0 .5em;
}
.pl-form-message{
	display:block;
	margin:0pt 0pt 0.5em;
	padding:0.3em;
}
div.pl-pgd-toc {
	background:#fff;
	padding:.3em;
}
.pl-form-container {
}

/*** tableau de presntation de resultats plats ***/
table.pl-rslts {
	border:1px solid #7F7F7F;
	border-collapse:collapse;
	font-family:"Arial", "Helvetica", sans-serif;
	font-size:inherit;
	margin:0pt;
	padding:0pt;
}
.div-eac-doc {
  margin-top:.5em;
  display:none;
  overflow:hidden;
}
.pl-ead .pl-pgd-fv .pl-eac-tbl {
	border:1px solid #7F7F7F;
	margin:0pt;
	padding:1px;
}
tr.pl-rslts-hd {
	color:#000000;
	font-weight:normal;
	text-decoration:none;

}
table.pl-rslts thead {
	border:1px solid #989898;
}
table.pl-rslts thead th {
	background:transparent url(../yui/assets/skins/pleade/sprite.png) repeat-x scroll 0pt -1940px;
}
table.pl-rslts thead th,
table.pl-rslts thead th a {
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	vertical-align:bottom;
	white-space:nowrap;
	border-bottom:none;
}
table.pl-rslts tbody {
	border-bottom:1px solid #7F7F7F;
	border-left:1px solid #7F7F7F;
	border-right:1px solid #7F7F7F;
}
table.pl-rslts th,
table.pl-rslts td {
	border-right:1px solid #CBCBCB;
	padding:4px 10px;
}

th.pl-rslts-first,
td.pl-rslts-first {

}
th.pl-rslts-last,
td.pl-rslts-last {

}

#eac-doc caption {
  text-align:left;
}

#eac-doc p {
  margin-top:0;
}

#eac-doc td,
#eac-doc th {
  vertical-align:top;
  text-align:left;
  padding:.3em;
}

#eac-doc thead th {
  background:url("../images/title.png") repeat-x scroll 0 -180px #78CFEC;
  padding:.5em 0;
  border-radius:5px;
  font-size:1.2em;
  text-align:center;
}

.pl-rslts-even td,
.pl-rslts-even th,
.pl-tbl-tr-even td,
.pl-tbl-tr-even th {
  background-color:#FFFFFF;
}
.pl-rslts-odd td,
.pl-rslts-odd th,
.pl-tbl-tr-odd td,
.pl-tbl-tr-odd th {
  background-color:#EDF5FF;
}

.pl-lnk-eac {
	background: transparent url(../images/icons-cdc.png) no-repeat 0 4px;
	padding:.3em 0 .3em 1.5em;
}

/***** Traitement des liens internes et externe *****/
.pl-pgd-link-internal{
  background:transparent url(../images/link_internal.png) no-repeat scroll 0pt;
  width:14px;
  height:16px;
  margin-left: .5em;
	padding-left: 1.6em;
}
.pl-pgd-link-internal:hover{
  background:transparent url(../images/link_internal_hover.png) no-repeat scroll 0pt;
  margin-left: .5em;
}
.pl-pgd-link-external{
  background:transparent url(../images/link_external.png) no-repeat scroll 0pt;
  width:14px;
  height:16px;
  margin-left: .5em;
}
.pl-pgd-link-external:hover{
  background:transparent url(../images/link_external_hover.png) no-repeat scroll 0pt;
  margin-left: .5em;
}
.pl-pgd-link-span{
  margin-left: 1.5em;
}

/**** centrer les formulaires de recherche **

#search-form {
	text-align:center;
}
#search-form form {
	display:block;
}
#search-form table {
	display:inline;
	text-align:left;
}
*/

.simple-search-table {
	display:inline;
}
.simple-search-table td {
	padding:0;
}
.simple-search-table td.pl-form-label {
	padding:0;
}
div.pl-ead-daogrp{
	/* float:left; */
	padding:.5em;
}
div.pl-pgd-medias-content{
	/* float:left; */
	/* width:350px; */
	/* height:350px; */
	padding:.5em;
	/* overflow:auto; */
}
a.pl-flow-video{
  display:block;
  width: 350px;
  height:340px;
  margin:1em 0 0.5em 30%;
}
a.pl-flow-audio{
  display:block;
  width: 350px;
  height:20px;
  margin:1em 0 0.5em 30%;
}
/* play button */
a.pl-flow-video img{}
#flashError{
  background:#EFEFEF;
  border:1px outset #CCCCCC;
  width:350px;
  padding:10px;
  margin:1em 0 0.5em 30%;
}
#flashError img{
  float:left;
  margin-right:10px;
}
#flashError h3{
  margin-top:0;
  border:none;
  color:black;
}
#flashError p{
  margin:0;
}
#flashError br{
  clear:left;
}
/***** Boite a outils document ead *****/

#pl-pg-body-tool-box {
	background:#e3e3e5;
	padding:.5em;
	height:19px;
}
.pl-pgd-cnt {
	padding:0 1em;
}
#pl-pg-body-tool-box ul {
	float:left;
	list-style-type: none;
	padding:0;
	margin:0;
}
#pl-pg-body-tool-box ul li {
	float:left;
	padding:0;
	margin:0;
	list-style-type: none;
}
#pl-pg-body-tool-box button {
	cursor : pointer;
}

.pl-hilite{
	background-color:yellow;
}
.yui-skin-pleade .yui-panel-container .underlay {
	background:#555555 none repeat scroll 0 0;
	bottom:-4px;
	left:4px;
	opacity:0.2;
	right:-4px;
	top:4px;
}
/********** render EAD *****************/



/***** Boite a outils document ead *****/
/* necessaire pour que IE ne redimenssionne pas les yui-panel (par ex les popup navindex dans les formulaires de recherche) */
.bd {
	height: 85%;
}
#_cdc_ ul {
	list-style:none;
	margin:0;
	padding:0.2em 0;
}
#_cdc_ ul li {
	display:block;
	padding:0.1em 0;
}

/* Boutons de navigation */
ul.pl-pg-body-menu-box {
	float:right;
	height:auto;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	position:absolute;
	right:10px;
	text-align:right;
	width:auto;
	z-index:10;
	white-space:nowrap;
/*}
.pl-pgd ul.pl-pg-body-menu-box {*/
	top:7px;
}
ul.pl-pg-body-menu-box li {
	display:block;
	float:left;
}
#pl-pg-body-menu-box li{
	position:relative;
}

#btn-help, 
#btn-goto-opener,
#btn-home,
#btn-close-window{
	background:transparent url(../images/sprite.png) repeat-x scroll 0 0;
	border:1px solid #ccc;
	color:#000000;
	display:inline;
	float:none;
	font-family:Arial,sans-serif;
	font-size:10pt;
	font-weight:normal;
	height:auto;
	margin:0 6px 0 0;
	overflow:hidden;
	padding:0.1em 0.2em;
	text-decoration:none;
	white-space:nowrap;
	width:auto;
}
#btn-help:hover, 
#btn-goto-opener:hover,
#btn-home:hover,
#btn-close-window:hover{
	background-position: 0 -1300px;
}
.yui-skin-pleade #ead .yui-button button, .yui-skin-pleade #ead .yui-button a {
	font-size:87%
}
/** Tableau de la page basket.html - anciennement yui datatable */
table#pl-bskt{
	border:1px solid #7F7F7F;
	background-color:white;
}
table#pl-bskt th{
	border-bottom:1px solid #7F7F7F;
}
table#pl-bskt td,
table#pl-bskt th{
	padding:4px 10px;
}
table#pl-bskt tr.odd{
	background-color:#EDF5FF;
}

.pl-form-index,
.pl-form-help,
.pl-form-searchfield,
.pl-form-label,
.pl-form-opcomplex{
	vertical-align: top;
}
.pl-bttn-sync button {
	background:transparent url(../images/sprite.png) repeat-x scroll 0 0;
	border:1px solid #967C5C;
	color:#5F5141;
	margin-bottom:0.5em;
	padding:0.2em;
}

/* Surcharge YUI tabview */

.yui-skin-pleade .yui-navset .yui-nav li,.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav li{
	padding:0;
}

.yui-skin-pleade .yui-navset .yui-nav,.yui-skin-pleade .yui-navset .yui-navset-top .yui-nav{
	background:#E6E6E7 url(../images/sprite.png) repeat-x scroll 0 100%;
	border-color:#B7B7B7;
	border-style:solid;
	border-width:1px;
	margin:0;
	padding:0.5em 0 11px 7px;
}
.yui-skin-pleade .yui-navset .yui-nav .selected a,.yui-skin-pleade .yui-navset .yui-nav .selected a:focus,.yui-skin-pleade .yui-navset .yui-nav .selected a:hover{
	background:#2647a0 url(../images/sprite.png) repeat-x left -1940px;
	color:#000;
}


/**** centrer les formulaires de recherche **

#search-form {
	text-align:center;
}
#search-form form {
	display:block;
}
#search-form table {
	display:inline;
	text-align:left;
}
*/
                                                                
.pl-form-chckbx {
	margin:0;
}

/**** keygroup *********/

.keygroup {
	                         
}

.keygroup-title {
	background:none repeat scroll 0 0 #E0EAEF;
	border:1px solid #C3D6DF;
	
}
.keygroup-title a.tbody_hidden {
	background:transparent url(../images/mif/drop-add.gif) no-repeat 99% 50%;
	display:block;
	border-color:#FFFFFF #D1E5EF #D1E5EF #FFFFFF;
	border-style:solid;
	border-width:1px;
	padding:3px 30px 3px 3px;
	text-align:right;
}
.keygroup-title a.tbody_hidden span.masquer {
	display:none
}
.keygroup-title a.tbody_visible span.afficher {
	display:none
}
.keygroup-title a.tbody_visible {
	background:url("../images/mif/drop-less.png") no-repeat scroll 1% 50% transparent;
	border-color:#FFFFFF #D1E5EF #D1E5EF #FFFFFF;
	border-style:solid;
	border-width:1px;
	display:block;
	padding:3px 3px 3px 30px;
	text-align:left;
}
.sdx-image {
	text-align:center;
}
.yui-ac-ft {
	padding:2px 5px;
}


/** IR Illustrés */
.anc_illustrated,
.old_illustrated,
.audio_illustrated,
.video_illustrated,
.image_illustrated,
.external_illustrated,
.other_illustrated{
  padding-left:16px; /* Padding plutôt que width ; on évite ainsi le display:block et les problèmes de placement inhérents */
  padding-bottom:4px; /* Pour que les images de 16px de haut s'affichent... Je ne sais pas pourquoi */
}
.audio_illustrated{
  background:url(../images/mime-audio.png) top left no-repeat;
}
.video_illustrated{
  background:url(../images/mime-video.png) top left no-repeat;
}
.image_illustrated{
  background:url(../images/mime-image.png) top left no-repeat;
}
.anc_illustrated,
.old_illustrated{
  background:url(../images/mime-all.png) top left no-repeat;
}
.external_illustrated{
  background:url(../images/mime-external.png) top left no-repeat;
}
.other_illustrated{
  background:url(../images/mime-other.png) top left no-repeat;
}
/** Fin IR Illustrés */


/** Export PDF : historique, Recherche, Panier */

.pl-rslt-bttn-pdf {
  background:transparent url(../images/icones.png) no-repeat scroll 2px -539px;
}
.pl-rslt-bttn-pdf:hover {
  background:url(../images/icones.png) no-repeat 2px -559px;
}

.yui-skin-pleade .yui-button .pl-histo-bttn-pdf,
.yui-skin-pleade .yui-button .pl-bskt-bttn-pdf,
.yui-skin-pleade .yui-button .pl-rslt-bttn-pdf {
  width:40px;
}
.pl-histo-bttn-pdf {
  background:transparent url(../images/icones.png) no-repeat scroll 2px -539px;
}
.pl-histo-bttn-pdf:hover {
  background:url(../images/icones.png) no-repeat 2px -559px;
}
.pl-bskt-bttn-pdf {
  background:url(../images/icones.png) no-repeat  2px -539px;
}
.pl-bskt-bttn-pdf:hover {
  background:url(../images/icones.png) no-repeat 2px -559px;
}
.yui-skin-pleade .yui-button-disabled button.pl-bskt-bttn-pdf,
.yui-skin-pleade .yui-button-disabled a.pl-bskt-bttn-pdf {
  background:url(../images/icones.png) no-repeat 0 -638px;
}
/** Fin export PDF */

/** Export ZIP */
.pl-bskt-bttn-zip, .pl-bskt-bttn-zip:hover {
  background:url(../images/btn_zip.png) 50% 50% no-repeat;
}
/** /Export ZIP */

/** Panier persistant */
.pl-bskt-bttn-save, .pl-bskt-bttn-save:hover {
  background:url(../images/btn_save.png) 50% 50% no-repeat;
}
#pl-stored_baskets {
  position:absolute;
  right:0;
  z-index:1000;
}
/** /panier persistant */

.mif-tree-wrapper {
    font-size: 100%;
}
.yui-skin-pleade .yui-dt th,
.yui-skin-pleade .yui-dt td {
    border-color: #CBCBCB;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    margin: 0;
    padding: 0;
}