/* $Id$ */
/**
Copyright (C) 2003-2011 AJLSM, Anaphore
Voir le fichier LICENCE
**/
/* Ce fichier de configuration fait partie de la distribution standard
de Pleade. Vous pouvez le modifier à votre guise. */

img,
a img{
	border:none;
}

.access {
	display:none;
}
body.pl-pg {
	background:#e7e7e7;
	font-family:Verdana,arial,sans-serif;
	font-size:77%;
	color:black;
	margin:5px;
	padding:0;
}
/* Habillage general */

.pl-pg-brdr-t {
	background:#fff url(../images/pg.png) repeat-x 0% -20px;
	z-index:0;
	min-width:748px;
	height:12px;
	font-size:1px;
}
.pl-pg-tr {
	background:url(../images/pg.png) no-repeat 0% -40px;
	height:12px;
	width:12px;
	float:right;
	margin:0 0 0 0;
	padding:0;
	z-index:100;
	font-size:1px;
}
.pl-pg-tl {
	background:#fff url(../images/pg.png) no-repeat 0% 0px;
	height:12px;
	width:12px;
	float:left;
	margin:0 0 0 0;
	padding:0;
	z-index:100;
	font-size:1px;
}
.pl-pg-brdr-l {
	background:url(../images/pg-brdr-l.png) repeat-y;
	min-width:740px;
	padding:0 0 0 4px
}
.pl-pg-brdr-r {
	background:url(../images/pg-brdr-r.png) repeat-y 100% 0%;
	padding:0 4px 0 0;
	min-width:744px;
}
.pl-pg-brdr-b {
	background:url(../images/pg.png) repeat-x 0% 100%;
	height:10px;
	min-width:748px;
	font-size:1px;
}
.pl-pg-br {
	background:url(../images/pg.png) no-repeat 0% -100px;
	height:10px;
	width:11px;
	float:right;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:100;
	clear:both;
	font-size:1px;
}
.pl-pg-bl {
	background:url(../images/pg.png) no-repeat 0% -60px;
	float:left;
	height:12px;
	width:12px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:100;
	font-size:1px;
}
.pl-pg-body-tmenu {
	margin:0 0 0 0;
	text-align:right;
	clear:both;
}


/* Fermer la fenetre */

#btn-close-window-span button {
	background:url(../images/icones.png) no-repeat 0% -55px;
	height:18px;
	width:12px;
	border:none;
	white-space: nowrap;
	overflow:hidden;
	margin: 3px 5px 0 0;
}
#btn-close-window-span.yui-button-hover button {
	background:url(../images/icones.png) no-repeat 0% -75px;
}

#btn-close-window-span.yui-button-active button  {
	background:url(../images/icones.png) no-repeat 0% -75px;
	
}
#btn-close-window-span,
#btn-help-span,
#btn-home-span,
#btn-goto-opener-span {
	border:none;
}
/* Bouton d'aide */
#btn-help-span button{
	background:url(../images/icones.png) no-repeat 0% 2px;
	height:15px;
	width:12px;
	border:0;
	white-space: nowrap;
	overflow:hidden;
	margin: 5px 0 0;
}
#btn-help-span.yui-button-hover button {
	background:url(../images/icones.png) no-repeat 0% -18px;
}

#btn-help-span.yui-button-active button {
	background:url(../images/icones.png) no-repeat 0% -36px;
}

/* Retour à la fenêtre principale */
#btn-goto-opener-span button{
	background:url(../images/icones.png) no-repeat 0% -257px;
	height:15px;
	width:12px;
	white-space: nowrap;
	overflow:hidden;
	border:0;
	margin: 4px 10px 0 0;
}
#btn-goto-opener-span.yui-button-hover button {
	background:url(../images/icones.png) no-repeat 0% -237px;
}
#btn-goto-opener-span.yui-button-active button {
	background:url(../images/icones.png) no-repeat 0% -277px;
}
/* Retour à la page d'accueil */
#btn-home-span button {
	background:url(../images/icones.png) no-repeat 0% -339px;
	height:15px;
	width:12px;
	border:0;
	white-space: nowrap;
	overflow:hidden;
	margin: 0px 10px 0 0;
}
#btn-home-span.yui-button-hover button {
	background:url(../images/icones.png) no-repeat 0% -299px;
}

#btn-home-span.yui-button-active button {
	background:url(../images/icones.png) no-repeat 0% -319px;
}

.yui-panel .bd {
overflow:auto;
padding:4px;
}

.pl-pg-index-thesx{
	overflow:auto;
}

/*.suggest-values {
	vertical-align:middle;
}
.suggest-values img {
	vertical-align:middle;
	margin:0 .5em 0 0;
}*/

/* Informations utilisateur	*/
table.userinfos {
}

.pl-message{
}

#loading{
	position: absolute;
	background-color:white;
	border:1px solid #6593cf;
	padding: 10px;
	width: 200px;
}
#loading,
.loadingMessage{
	text-align: center;
	z-index: 20001;
}
.loadingMessage{
	padding:.5em 0;
}

#loading img,
.loadingMessage img{
	vertical-align:bottom;
}
#loading span,
.loadingMessage span{
	margin-left:.5em;
}

.pl-form-help a img {
border:none;
}

.pl-separator{
	clear:left;
	visibility:hidden;
}
/* Messages erreur/succès */
.msg-success {
	color : green; 
	font-size : 120%; 
	font-weight:bold;
}
.msg-fail {
	color : red; 
	font-size : 120%; 
	font-weight:bold;
}


/** Tooltip */
.maintip{
	visibility:hidden;
}
.maintip, .tip {
  color: white;
  background: #222222;
  padding: 3px;
  margin: 0px;
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  line-height: 1.2em;
  z-index: 2000;
  position: relative;
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
}
.tip-text h2 {
  margin-top: -0.3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 150%;
}
.tip-text h2 img {
  position: relative;
  top: 6px;
  margin-right: 10px;
  margin-left: -10px;
}
/** /Tooltip */

/** Sélection de la langue */
#pl-pg-body-top, .pl-pg-context-bg{
  position:relative;
}
#language_selection{
  color:white;
  position:absolute;
  right:.2em;
  bottom:.2em;
}

#language_selection span.yui-button{
  vertical-align:bottom;
}

#language_selection select.pl-form-slct{
  width:auto;
}

#pleade_logo {
    display: inline-block;
    width: 80px;
    height: 20px;
    text-indent: 100px;
    background: url(../images/logo-pleade.png) top left no-repeat;
    overflow: hidden;
    vertical-align: middle;
}
