@import url("html.css");

/* Classes specifiques a Cyberdocs */
span.titre-site {
	font-size: 150%;
	font-weight: bold;
	color: #9999ff;
	font-family: Verdana, Arial, sans-serif;
}

div.entete {
	margin-top: 0px;
	margin-bottom: 10px;
}

div.pied-de-page {
	margin-top: 20px;
	margin-top: 20px;
	font-size: 70%;
	font-family: Arial;
}

tr.answer {
	font-size: 90%;
}

/*
 *        docbook html css
 *
 *  This sheet match classes from common docbook-xsl
 *  This names could be of a general interest
 *
 *  frederic.glorieux@ajlsm.com
 */

/*
 *    common classes
 *    .content, .header, .footer, .focus, .toc, .abstract, .code,
 *    .ackno, .bibliography, .glossary, .colophon, .nav, .small
 *    .info, .footnote
 */
 
/* Sectioning */
div.section {
	margin-left: 10pt;
}


/*
 *     COLORS
 */

        .abstract
    {
      display:block;
      background-color:#F1EDE1;
      padding-left:1em; padding-right:1ex;
      padding-top:0.5ex; padding-bottom:0.5ex;
    }


/*
 *  TYPOGRAPHY
 *
 *  important property to define graphic identity
 *  font-family for all elements + some bold  and italic
 *
 */

        notag
    { font-family: Arial, Georgia, "Gill Alternate One Monotype", "Gill Sans", "Trebuchet MS", Universal, Arial, sans-serif; font-weight:normal;}

        notag
    { font-family: Arial, Universal, Arial, sans-serif;  }

        notag
    { font-family: Arial, Impact, sans-serif;  }

        notag
    { font-family: Verdana, sans-serif;  }

        notag
    { font-family: Arial, Garamond, Melior, Georgia, Times,  serif; }

        notag
    { font-family: Arial, Script, cursive; }

        notag
    { font-family: Arial, "Comic Sans MS", fantasy; }

        notag
    { font-family: Arial, "Lucida Console", monospace; }

        notag
    { font-family: Arial, Courier, "MS Courier New", monospace; }

/*
 *  MARGINS, PADDINGS, ALIGNMENTS
 *
 *   This section is opened to adjust alignments
 *
 */


/*
 *  INLINES (semantic)
 */



/*
 *  LISTS
 */







/*
 *  TITLES
 */




/*
 *  TEXT
 */




    @media all {
    }

/********* end sheet ************/
